.start{
    transform: translateX(-110px);
}
.running{
    animation: rotate1 10s ease-out;
    transform: translateX(-19800px);
}

@keyframes rotate1 {
    0% {
        transform: translateX(-50px);
    }
    5% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-19800px);
    }
}