$bg-color: #171717;
$menu-color: #1E1E24;
$button-border-radius: 1.5vw;
$block-border-radius: 5.35vw;
$secretDuck_url: url('../../app/duck_images/security_duck.webp');
$saidDuck_url: url('../../app/duck_images/said_duck.webp');
$happyDuck_url: url('../../app/duck_images/happy_duck.webp');
$dontNowDuck_url: url('../../app/duck_images/dont_now_duck.webp');
$helloDuck_url: url('../../app/duck_images/hello_duck.webp');


@font-face {
  src: url('../../shared/assets/fonts/SF-Pro-Display-Medium.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../shared/assets/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('../../shared/assets/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: 900;
  font-style: normal;
}


%font-medium {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 4vw;
}

%font-bold {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-variant: normal;
  font-weight: 700;
}

%font-extrabold {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-variant: normal;
  font-weight: 900;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%secretDuck {
    background-image: $secretDuck_url;
    background-size: cover;
    background-repeat: no-repeat;
}

%helloDuck {
    background-image: $helloDuck_url;
    background-size: cover;
    background-repeat: no-repeat;
}

%saidDuck {
  background-image: $saidDuck_url;
  background-size: cover;
  background-repeat: no-repeat;
}

%dontNowDuck {
    background-image: $dontNowDuck_url;
    background-size: cover;
    background-repeat: no-repeat;
}

%happyDuck {
    background-image: $happyDuck_url;
    background-size: cover;
    background-repeat: no-repeat;
}