@import '../../app/styles/units';

.brand {
  color: var(--accent-text);
}

.info {
  margin: 0;
  padding: u(13) u(15);
  font-size: u(12.5);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--text-secondary);
}
