@import "src/components/UI/pages/AdminPanel/AdminPanel.module";

.buttonLine {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  height: 33px;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-color;
  border-radius: 7px;

  > div {
    display: flex;
    flex-direction: row;
    height: 33px;
    align-items: center;

    > div {
      padding: 6px;
      @extend %text;
    }
  }
}

.separator{
  border: 1px solid $secondary-color;
  width: 1px;
  height: 23px;
  padding: 0 !important;
}

.status {
  &-true {
    opacity: 1;
    cursor: pointer;
  }
  &-false {
    opacity: 0.5;
    cursor: default;
  }
}
