@import "src/components/styles/mainStyle";

$block-border-radius: 5.35vw;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
}

.productImage {
  z-index: -1;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
  margin: 1.6vw 3.2vw 0 3.2vw;
  min-width: 93.6vw;
  min-height: 93.6vw;
  background-size: cover;
  display: flex;
  border-top-right-radius: $block-border-radius;
  border-top-left-radius: $block-border-radius;
}

.priceNameBlock {
  margin: -4vw 3.2vw 0 3.2vw;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  border-radius: $block-border-radius;

  .title {
    @extend %font-bold;
    font-size: 5.35vw;
    line-height: 8.55vw;
    text-align: left;
    margin: 2.4vw 4.28vw 1.4vw 4.28vw;
    color: white;
  }

  .price {
    display: flex;
    margin: 0 3.18vw 2.1vw 3.18vw;
    flex-direction: row;
    justify-content: space-between;

    > div {
      font-size: 7vw;
      line-height: 8.55vw;
      padding: 1.6vw 2.1vw;
      border-radius: $block-border-radius / 3 * 2;
      border-width: 1.1vw;
      border-style: solid;
      @extend %font-medium;
      color: white;
    }
  }

  .endDatePromotion {
    @extend %font-bold;
    color: #D86147;
    font-size: 3.5vw;
    line-height: 5.35vw;
    margin: 0 4.38vw 0vw 4.38vw;
  }

  .parameters {
    margin: 0 4.38vw 4.28vw 4.38vw;

    > div {
      display: flex;
      flex-direction: row;
      font-size: 3.5vw;
      line-height: 5.35vw;

      > div:nth-child(1) {
        margin: 0;
        color: rgba(255, 255, 255, 0.5);
        @extend %font-bold;
      }

      > div:nth-child(2) {
        margin-left: 1vw;
        color: white;
        @extend %font-bold;
      }
    }
  }
}

.percent {
  width: max-content;
  height: 9.35vw;
  position: relative;
  display: flex;
  margin: auto 2.14vw 6.14vw auto;
  border-radius: $button-border-radius;
  background: #D86147;
  @extend %font-bold;
  color: white;
  text-align: center;
  padding: 0.53vw 1.6vw;
  line-height: 8.29vw;
  font-size: 5vw;
}

.favorite {
  width: 9.35vw;
  height: 9.35vw;
  position: relative;
  display: flex;
  margin: auto 4.28vw 6.14vw 0;
  border-radius: $button-border-radius;
  background: #222222;

  > div:nth-child(1) {
    position: absolute;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVCAYAAAA49ahaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAE72lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgOS4xLWMwMDEgMTE2LmNhODJhZTQsIDIwMjQvMDIvMjItMjE6NTg6NDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjM4KzAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjM4KzAzOjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpkMDI4ZGE1ZC03Y2JjLTMwNDItOTUwNC1lY2Q3MGEyY2I4YTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ZDAyOGRhNWQtN2NiYy0zMDQyLTk1MDQtZWNkNzBhMmNiOGE5IiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZDAyOGRhNWQtN2NiYy0zMDQyLTk1MDQtZWNkNzBhMmNiOGE5Ij4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDpkMDI4ZGE1ZC03Y2JjLTMwNDItOTUwNC1lY2Q3MGEyY2I4YTkiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Q9dLbAAAEzUlEQVR4nO2d7XHqOhRFV1KBSlAHcQnq4NLBpYPQAe4gdAAdMK8CkgrgVUBeBdAB74fsIZAjWTaSjUFrxgMRls7WRl+OHeXldDqRicvr0AIekWxqArKpCXiJUEYBGOCtelXVUbMDjtXrF/BZ/dwHCqvvD6Cr94qzviPwXb3W2j570vYLBcyBLXDqcGyAKZfmx8RUMQ4dtO2BJfZL6I15R7HScYhYARVZ2wn4iKTNSUH3lhlydDVXEd/M65Y76aCrkfeEoq8rMGuha1LlSa3rhP3iojEPCLjBmmG4bG0K28InwIpwA/a4x1zFecwMKeuA7QVTzhPVdVlTYB1Q1lK2qB1Nhi5p32ULrMGhLX+LNXBdvQ/Nt8Ya1gYNlA3l3mSsz9At1pxb0NgKxO6+JbevKjT+ltvJ2HdPgQviLoU0tuXeauaG+DN16Yk3b1OQxt3FykhiXXE3jri+Y0/7bt6GmSd2cFxXdyxjKvVgaJ7UDtguaHrSNPXoUE2ZXd1+lUJpAAprnMGuIAw9X+n8oET25sOXSSO3jj3pLifHhmt4Mq4Mc0cGnVbnqNDI883GlUFqpZ2WDg9Oidz41PWJU8eJug+VI0Mht9by+sS1cFJupW5K5LnngpvWYE+IQvasqE8wwoe/XM/8QloJzMDeozJChs9+dI2af4S0N7Cmvgkf/ptUzmOwE9IMWFNVYIbMJTshTdVvpPWp7kHUIyAtrRRC4mkYfaNEbJD5YYoEZFMTkE1NwCv2sZdrdL8yRosS0o6vyM81SSdnLlF4TP0WPijSaXkYCiFtB7b7/xeYIXOJFtKOYE3dCR9Kl66ZSwoh7at+o+l4l/DJ2fLbt8nPE6TLLdOnwpGh8dwpqdep0q+xJsmljRcjpO2oJv3a1E/hpD8p1DwIkjdf1wmKfEslFE0Lr6TbA4v0GkfHlBa3n2bCyXkV8JtWz0co5FXALLHIMWHo8HzEQsiQ76yeWdLikZ8aI2TKE5ZFI3szDcksTViN38YTILXS4F5shMzB38iDoongidRa9zzvSsDlRyuMUMiJ/h5RvyemROy50rdz4PlutUjr0s4rIi0U9myT1pwE88vCUejklkJHgkauu/PqKRSF3PyfYRiQ6t149RSKcRT+yMOAq9uXMYOsHUFmMYPcCRPkunaenFwo3N2hiB1sQDSJu/01xhFsnyrgALgMLVMGXTiCblMG7YkP5Lqt+wi+dQT/6CN4IlwTU2+9UOPuJvM+BETmL3Jdko2jLgqPkFmfQm6k4M7qMfMI+juEoJYUDLNZRCMl4zS2wG3oajBVP1gwLmML3IZuuaPfGa9wG3tPk5fBbeieOzK0ZsN9G+ub5XtbOrVF4d8LcMh1rGsdeteG/mSFuwJb+q2AQr4LOpSem1jgbxmTHjQU+LdhuqtJKZQSd4VSj7Pv+PcEXDFCQ2tm+I3dE/fpF03zLmxlxHiDUdC8SeKS28Y2RfMOmgce7IEQTfj+pLpFuYqwXX5HNSG1paTZ2BPnjcC1UIbCTnQbwvZSXTDi8TMUTbs9Uw9YAzct88Uer0fBlDT7SR+IszHtaNHE2+336c28RtO95WYzAzDYyWWLf7xccKdjZoz/nZKagnMr/Mb+pfJxECWBvOR/8hWfvIdKArKpCcimJuB/HGVMZwvPhuIAAAAASUVORK5CYII=");
    width: 60%;
    height: 60%;
    display: flex;
    filter: brightness(0) invert(1);
  }

  > div:nth-child(2) {
    position: absolute;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVCAYAAAA49ahaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAE72lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgOS4xLWMwMDEgMTE2LmNhODJhZTQsIDIwMjQvMDIvMjItMjE6NTg6NDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjIwKzAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjIwKzAzOjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDplODNmY2M5OC0zMmVhLTVjNGMtODQ1NS05YjZkNTI2NDExYmQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ZTgzZmNjOTgtMzJlYS01YzRjLTg0NTUtOWI2ZDUyNjQxMWJkIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZTgzZmNjOTgtMzJlYS01YzRjLTg0NTUtOWI2ZDUyNjQxMWJkIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDplODNmY2M5OC0zMmVhLTVjNGMtODQ1NS05YjZkNTI2NDExYmQiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5em1aGAAAE7ElEQVR4nO2dTXbaSBRG71NyDkpGLIFegckKGq+g7RXEHuRE9iR4BcYraDyycjxovAKTFRivoLUE9Q6YhUHC64EkDFiA/gVy3ZHMEdLnj1eloqreQ1QVQ7FYdQtoIsbUEjCmloDkvYBeXnb59auHZR0BPVTbiLRf7iAeqlNEPOCZVmsiw+E0730Taev328xmXUT+Ajqodlf0qU6xLB/VKfAMTMR1J3nvm8nUUOw3RE5Q7Wa4xAR4wLbHZRisjtMDrlHtrnzAyfAJ9N2I6/pZ7p/aVHWca1T7GcTGXEyniIzJ8Q8sLhV90EVpA1AdInKbVltiU/XLly7v3/+TMTKTMCKDuaWYuYqPyJXc3Y2TviGRqfr16zdgUJLoZXxEbuXubpjkZL24OEH1b6BTqqqAgbjuTZITd5qqjnMNDPIqSokP3MT1uYuHD1wDvYp1jcR1z3edtNXUmgxd5WX0MAU6zOedClrMNnYau9HUvTB0f9lqbOzgf9GHGjZxFgZdLK8iVR2ng+q/NTexQ+E47stCXKQ+GUMTIvKo/X57/eUVU8Nm36lI0uGj2ubnz1fdwKL5q+N0gCeMqVlY6QaWI/UzxtCsrETrsqln1epoFL3lvtUCUMc5w0RpPmazfnQYRGow32jIx+foIDBV9aQuJQ2io5eXXQArnNA1FIFqD4JI7dUqpEmoHgFYiBzVraVB9AAsVNv16mgQ4dd7CzOUKg7Vtvb7bWNq0cxmbbOZogSMqSVgTC0Bi2Dl0lAUtj21wlVKQ0HIcDg1kVokqh4Eg///apbSHMJWbwFerUKaxTMEpk7q1dEg5nMPwBLXjTa9GvJiWR68zPz/qFNLI1D1om2g0eB/UpuYpiDyHB0Gptr2uC4tDWIcHVgQDFgx0ZoHP34zxXxu+tXsTJb/eDH148eRGQVkZmXb+sJUGQ6niDxUr+fgmawnf6xP/Y0rk9IcXgVi3KbfJ8yydVJ8cd0/1l+Mm6ROlNZiADZ4FZtIYaI1EbFRCpuXU0y07majR9tSfky0bmZjlML2hb+dmW1vmK0teaOp4djrtmg1DWAkrjvadsL2JWrbHmDWsNbZ+bzZamo40WK6gRcSpc4nTU1/ROQkr6IDZ+vDaZlkO1Q+fDjHdAPHSU9MZKrpBtJVzEhVQ0UdZwh8SynosFEdy/fvp2nekmqDmrhuPyyF9FbwEblK+6b0u/5UT3k7/etxlipEqU0V1/X5/TtVczhIRK6ylnXKtD9V7u+9LM3igLhJWnEojlxl6dRxBqxlEDeAB3HdszwXyLWTWlx3QJPmB0Q8bLuf+zIFSEEdZ8RSwuuB4mPbn4qoPViIqXDw868+GZ/0cRSXSGHbpwc6hvUp0FAoMFIjDqorCKqznRZpKJSQ8hM+Off/4SXi0WoVGqERpeRRiev22e/FwwdareOyKg4X3vyX0YuLfliKc5+4CYeCpVGqqRAWs3337pG6E4uDypZXu9aXiqD0NEq5v/eAY1THZd9rswjxEPlUhaFQQaQuU9PX2ltse1BVxXao2FSotPydD5wXUWI+LZWbGhEWGLumaHODvvMW2x5WGZ3L1GYqLKL2jCLqDO6BmRG1mhoRmtsjS+TukZkRe2HqMmHxsRNE/tzymwI+8AMY19Fn7mLvTF0nHOe2wz99bHu6LxG5CTE/8lU8poZKCRhTS8CYWgL/A0beu6+3TRpwAAAAAElFTkSuQmCC");
    width: 60%;
    height: 60%;
    display: flex;
    transition-property: opacity, scale;
    transition-duration: 0.2s;
  }
}

.favorite:active {
  transform: scale(107%);
  outline: none;
}


@keyframes animOpacity {
  0% {
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}

.description {
  margin: 2.1vw 3.2vw 0 3.2vw;
  padding: 3.20vw 4.38vw 3.20vw 4.38vw;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  border-radius: $block-border-radius;

  > div:nth-child(1) {
    position: relative;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.2s;
    @extend %font-bold;
    line-height: 5.35vw;
    font-size: 3.5vw;
    color: white;
    opacity: 1;

    > span {
      opacity: 0.5;
      margin-right: 1vw;
    }
  }

  > div:nth-child(2) {
    @extend %font-bold;
    line-height: 5.35vw;
    font-size: 2.7vw;
    opacity: 0.5;
    margin: 0 0 0 auto;
    display: flex;
    color: white;
    transition: transform 300ms cubic-bezier(.68, -0.55, 0.27, 2.5);
  }
}

.description:active {
  > div:nth-child(2) {
    transform: translateY(0.5vw);
  }
}

.basketButton {
  position: absolute;
  bottom: 0;
  z-index: 500;
  z-index: 500;
  width: 100vw;
  display: flex;
  background-color: #222222;
  transition-property: height, padding-bottom;
  transition-duration: 0.2s;

  > button {
    border-radius: $block-border-radius / 7 * 3;
    border: 0.5vw solid #FFFFFF3F;
    width: 100%;
    padding: 2vw 1vw;

    @extend %font-medium;
    height: 10.7vw;
    font-size: 4vw;
    margin: 2.7vw 2.7vw 1vw 2.7vw;
    color: white;
    text-align: center;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
  }

  > button:active {
    transform: scaleX(101%) scaleY(107%);
    outline: none;
  }
}


.choiceBlock {
  margin: 0 3.2vw 0vw 3.2vw;
  width: 87.2vw;
  >div:nth-child(1) {
    @extend %font-bold;
    margin: 0 1.23vw 1.23vw 0;
    line-height: 5.35vw;
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 0.5);
  }
  > div:nth-child(2) {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      transition-property: background-color;
      transition-duration: 0.2s;
      @extend %font-bold;
      margin: 0 1.23vw 1.23vw 0;
      line-height: 5.35vw;
      font-size: 3.5vw;
      color: white;
      padding: 1.6vw 2.67vw;
      border-radius: $block-border-radius / 15 * 8;
    }
  }
}


.subSlider {
  width: 87.2vw;
  display: flex;
  position: relative;
  margin: 0 3.2vw 1.23vw 3.2vw;
  border-radius: $block-border-radius / 3 * 2;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.2),
  inset -1px -1px 6px rgba(0, 0, 0, 0.3),
  0 4px 12px rgba(0, 0, 0, 0.15);

  > div:nth-child(1) {
    z-index: 200;
    display: flex;
    flex-direction: row;
    width: 87.2vw;
    justify-content: space-between;

    > div {
      @extend %font-bold;
      width: 100%;
      text-align: center;
      height: 12vw;
      line-height: 5.35vw;
      font-size: 3.5vw;
      color: white;
      padding: 3.32vw 2.67vw;
    }
  }

  > div:nth-child(2) {
    z-index: 100;
    position: absolute;
    display: flex;
    height: 12vw;
    width: calc(87.2vw / 3);
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out, background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }

  .v1 {
    transform: translateX(0%);

  }

  .d1 {
    background: linear-gradient(135deg, #c0c0c055, #e0e0e0);
    box-shadow: 0 0 18px rgba(192, 192, 192, 0.5),
    0 0 10px rgba(255, 255, 255, 0.4) inset;
  }

  .v2 {
    transform: translateX(100%);

  }

  .d2 {
    background: linear-gradient(135deg, #ffd70055, #ffcc00);
    box-shadow: 0 0 18px rgba(255, 215, 0, 0.5),
    0 0 10px rgba(255, 235, 150, 0.4) inset;
  }

  .v3 {
    transform: translateX(200%);
  }

  .d3 {
    background: linear-gradient(135deg, #141414, #453C00);
    box-shadow: 0 0 18px rgba(205, 165, 0, 0.5),
    0 0 10px rgba(255, 235, 150, 0.4) inset;
  }
}


.preloadProductImage {
  width: 93.6vw;
  z-index: -1;
  height: 93.6vw;
  min-height: 93.6vw;
  margin: 1.6vw 3.2vw 0 3.2vw;
  border-top-right-radius: $block-border-radius;
  border-top-left-radius: $block-border-radius;
  display: flex;
  position: relative;
  background: #3a3a3a;
  background-image: linear-gradient(to right, #3a3a3a 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: ease-in-out;

  @-webkit-keyframes shimmer {
    0% {
      background-position: -20vw 0;
    }

    100% {
      background-position: 60vw 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -20vw 0;
    }

    100% {
      background-position: 60vw 0;
    }
  }

}





