@import "src/components/styles/mainStyle";

.background-arrow {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../../../icons/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: rotate;
  transition-duration: 0.3s;
  rotate: 90deg;

  &-true {
    rotate: -90deg;
  }
}

.text {
  line-height: 19px;
  font-size: 16px;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition-property: height;
  transition-duration: 0.3s;

  &-true {
    height: 0;
  }

  &-false {
    height: max-content;
  }
}

.mainDivision {
  width: 100vw;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;

  > div:first-child {
    width: 94vw;
    margin: 3vw;
    border-radius: 4vw;
    background: #1f1f1f;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 4vw;
      background-size: cover;
      margin-bottom: 0;
    }

    > div:nth-child(2) {
      @extend %font;
      color: white;
      font-size: 5vw;
      margin: 1vw 3vw 2vw 3vw;
    }
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
  }
}
