@import "src/components/styles/mainStyle";

.background-arrow {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../../../icons/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: rotate;
  transition-duration: 0.3s;
  rotate: 90deg;

  &-true {
    rotate: -90deg;
  }
}

.text {
  line-height: 19px;
  font-size: 16px;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition-property: height;
  transition-duration: 0.3s;

  &-true {
    height: 0;
  }

  &-false {
    height: max-content;
  }
}

.mainDivision {
  width: 100vw;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;

  > div:first-child {
    width: 94vw;
    margin: 3vw;
    border-radius: 4vw;
    background: #1f1f1f;

    >div:nth-child(1) {
      height: 94vw;
      > img {
        width: 100%;
        border-radius: 4vw;
        top: 0;
        margin-top: 0;
        background-size: cover;
        margin-bottom: 0;
      }
    }

    > div:nth-child(2) {
      @extend %font;
      color: white;
      line-height: 4.5vw;
      font-size: 5vw;
      margin: 2vw 3vw 4vw 3vw;
    }
    >div:nth-child(3) {
      display: flex;
      flex-direction: row;
      @extend %font;
      font-size: 4.5vw;
      margin-left: 3vw;
      >div:nth-child(2) {
        margin-left: 2vw;
        color: #717171;
        text-decoration: line-through;
      }
    }
    >div:nth-child(4) {
      @extend %font;
      font-size: 3.6vw;
      margin-top: 1vw;
      margin-bottom: 3vw;
      margin-left: 3vw;
      color: #717171;
    }
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
  }
}
