@import "../../AdminPanel.module";

.container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  position: relative;
  overflow-y: scroll;
}

.infoLabel {
  @extend %text;
  margin: 15px;
}