@import "src/components/styles/mainStyle";

.descriptionContainer {
  margin: 2.1vw 3.2vw 0 3.2vw;
  padding: 3.20vw 4.38vw 3.20vw 4.38vw;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  border-radius: $block-border-radius;
}

.textContainer {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.description {
  > div:nth-child(1) {
    position: relative;
    overflow: hidden;
    @extend %font-bold;
    line-height: 5.35vw;
    font-size: 3.5vw;
    color: white;
    opacity: 1;
  }
}

.parameters {
  margin: 0 4.38vw 0 0;

  > div {
    display: flex;
    flex-direction: row;
    font-size: 3.5vw;
    line-height: 5.35vw;

    > div:nth-child(1) {
      margin: 0;
      color: rgba(255, 255, 255, 0.5);
      @extend %font-bold;
    }

    > div:nth-child(2) {
      margin-left: 1vw;
      color: white;
      @extend %font-bold;
    }
  }
}

.seeAll {
  @extend %font-bold;
  overflow: hidden;
  line-height: 5.35vw;
  font-size: 2.7vw;
  opacity: 0.5;
  margin: 0 0 0 auto;
  display: flex;
  color: white;
  transition: height 0.2s ease-in-out;
}

.modeButtons {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  > button {
    margin: 0 2vw 2vw 0;
    padding: 1.2vw 2.4vw;
    font-size: 3.5vw;
    color: white;
    font-family: 'SF PRO Display', serif;
    border-radius: 1.5vw;
  }


  .activeButton {
    box-shadow: 0.2vw 0.4vw 1vw rgba(80, 161, 85, 0.3);
    background: rgba(80, 161, 85, 0.3);
    border: 2px solid rgba(80, 161, 85, 1);
  }

  .noActiveButton {
    box-shadow: 0.2vw 0.4vw 1vw rgba(80, 161, 85, 0);
    background: $menu-color;
    border: #323232 solid 2px;
  }
}