@import "src/components/styles/mainStyle";

.descriptionContainer {
  margin: 2vw 3.9vw;
  display: flex;
  flex-direction: column;
  border-radius: $block-border-radius;
}

.textContainer {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.description {
  > div:nth-child(1) {
    position: relative;
    overflow: hidden;
    @extend %font-bold;
    line-height: 5.35vw;
    font-size: 3.5vw;
    color: white;
    opacity: 1;
  }
}

.parameters {
  > div {
    display: flex;
    flex-direction: row;
    font-size: 3.5vw;
    line-height: 5.35vw;

    > p {
      > span {
        margin-right: 1vw;
        color: rgba(255, 255, 255, 0.5);
        @extend %font-bold;
      }

      margin-left: 1vw;
      color: white;
      @extend %font-bold;
    }
  }
}

.seeAll {
  @extend %font-bold;
  overflow: hidden;
  line-height: 5.35vw;
  font-size: 2.7vw;
  opacity: 0.5;
  margin: 0 0 0 auto;
  display: flex;
  color: white;
  transition: height 0.2s ease-in-out;
}

.modeButtons {
  display: flex;
  flex-direction: row;

  > button {
    margin: 0 2vw 3vw 0;
    padding: 1vw 2vw;
    font-size: 2.9vw;
    font-weight: 900;
    font-family: 'SF PRO Display', serif;
    border-radius: 2.2vw;
  }

  .activeButton {
    background: rgb(34, 34, 34);
    border: 0.2vw solid rgb(255, 255, 255);
    color: #ffffff;
  }

  .noActiveButton {
    background: $menu-color;
    border: #616161 solid 0.2vw;
    color: #aeaeae;
  }
}

.conceptList {
  overflow: hidden;
  border-radius: 2.5vw;
  >div {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: scroll;
    min-height: 54vw;
    margin-top: -3.5vw;

    > div {
      margin-left: 0;
      margin-right: 3vw;
    }
  }
}