@import "src/components/styles/mainStyle";

.infoBubbles {
  margin: 0 4.38vw 2.38vw 4.38vw;
  flex-direction: row;
  flex-wrap: wrap;
  width: 84vw;
  display: flex;

  > div {
    margin: 0 2vw 2vw 0;
    display: flex;
    flex-direction: row;
    width: max-content;
    border-radius: 1.8vw;
    background: white;

    >p {
      color: #222222;
      font-size: 2.4vw;
      line-height: 2.4vw;
      font-family: 'SF PRO Display', serif;
      font-weight: 900;
      margin: 0.9vw 2.1vw;
    }
  }
}