@import "src/components/styles/mainStyle";

.namePlace{
  display: grid;
  grid-template-columns: 25vw 1fr 12vw;
  padding: 3.9vw 3.9vw 0 3.9vw;
  .productImage{
    height: 22.7vw;
    width: 22.7vw;
    min-height: 22.7vw;
    min-width: 22.7vw;
    background-size: cover;
    border-radius: 2.6vw;
  }
}

.title {
  @extend %font-bold;
  font-size: 5.3vw;
  line-height: 6vw;
  max-height: 18vw;
  min-height: 6vw;
  height: max-content;
  overflow: hidden;
  text-align: left;
  color: white;
}

.infoLabel{
  @extend %font-bold;
  font-size: 2.6vw;
  line-height: 3.5vw;
  color: #595959;
  margin-top: 0.5vw;
}


.favorite {
  width: 9.35vw;
  height: 9.35vw;
  position: relative;
  display: flex;
  margin: -2.5vw -2vw auto auto;
  border-radius: $button-border-radius * 2;
  background: none;

  > div:nth-child(1) {
    position: absolute;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVCAYAAAA49ahaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAE72lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgOS4xLWMwMDEgMTE2LmNhODJhZTQsIDIwMjQvMDIvMjItMjE6NTg6NDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjM4KzAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjM4KzAzOjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpkMDI4ZGE1ZC03Y2JjLTMwNDItOTUwNC1lY2Q3MGEyY2I4YTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ZDAyOGRhNWQtN2NiYy0zMDQyLTk1MDQtZWNkNzBhMmNiOGE5IiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZDAyOGRhNWQtN2NiYy0zMDQyLTk1MDQtZWNkNzBhMmNiOGE5Ij4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDpkMDI4ZGE1ZC03Y2JjLTMwNDItOTUwNC1lY2Q3MGEyY2I4YTkiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Q9dLbAAAEzUlEQVR4nO2d7XHqOhRFV1KBSlAHcQnq4NLBpYPQAe4gdAAdMK8CkgrgVUBeBdAB74fsIZAjWTaSjUFrxgMRls7WRl+OHeXldDqRicvr0AIekWxqArKpCXiJUEYBGOCtelXVUbMDjtXrF/BZ/dwHCqvvD6Cr94qzviPwXb3W2j570vYLBcyBLXDqcGyAKZfmx8RUMQ4dtO2BJfZL6I15R7HScYhYARVZ2wn4iKTNSUH3lhlydDVXEd/M65Y76aCrkfeEoq8rMGuha1LlSa3rhP3iojEPCLjBmmG4bG0K28InwIpwA/a4x1zFecwMKeuA7QVTzhPVdVlTYB1Q1lK2qB1Nhi5p32ULrMGhLX+LNXBdvQ/Nt8Ya1gYNlA3l3mSsz9At1pxb0NgKxO6+JbevKjT+ltvJ2HdPgQviLoU0tuXeauaG+DN16Yk3b1OQxt3FykhiXXE3jri+Y0/7bt6GmSd2cFxXdyxjKvVgaJ7UDtguaHrSNPXoUE2ZXd1+lUJpAAprnMGuIAw9X+n8oET25sOXSSO3jj3pLifHhmt4Mq4Mc0cGnVbnqNDI883GlUFqpZ2WDg9Oidz41PWJU8eJug+VI0Mht9by+sS1cFJupW5K5LnngpvWYE+IQvasqE8wwoe/XM/8QloJzMDeozJChs9+dI2af4S0N7Cmvgkf/ptUzmOwE9IMWFNVYIbMJTshTdVvpPWp7kHUIyAtrRRC4mkYfaNEbJD5YYoEZFMTkE1NwCv2sZdrdL8yRosS0o6vyM81SSdnLlF4TP0WPijSaXkYCiFtB7b7/xeYIXOJFtKOYE3dCR9Kl66ZSwoh7at+o+l4l/DJ2fLbt8nPE6TLLdOnwpGh8dwpqdep0q+xJsmljRcjpO2oJv3a1E/hpD8p1DwIkjdf1wmKfEslFE0Lr6TbA4v0GkfHlBa3n2bCyXkV8JtWz0co5FXALLHIMWHo8HzEQsiQ76yeWdLikZ8aI2TKE5ZFI3szDcksTViN38YTILXS4F5shMzB38iDoongidRa9zzvSsDlRyuMUMiJ/h5RvyemROy50rdz4PlutUjr0s4rIi0U9myT1pwE88vCUejklkJHgkauu/PqKRSF3PyfYRiQ6t149RSKcRT+yMOAq9uXMYOsHUFmMYPcCRPkunaenFwo3N2hiB1sQDSJu/01xhFsnyrgALgMLVMGXTiCblMG7YkP5Lqt+wi+dQT/6CN4IlwTU2+9UOPuJvM+BETmL3Jdko2jLgqPkFmfQm6k4M7qMfMI+juEoJYUDLNZRCMl4zS2wG3oajBVP1gwLmML3IZuuaPfGa9wG3tPk5fBbeieOzK0ZsN9G+ub5XtbOrVF4d8LcMh1rGsdeteG/mSFuwJb+q2AQr4LOpSem1jgbxmTHjQU+LdhuqtJKZQSd4VSj7Pv+PcEXDFCQ2tm+I3dE/fpF03zLmxlxHiDUdC8SeKS28Y2RfMOmgce7IEQTfj+pLpFuYqwXX5HNSG1paTZ2BPnjcC1UIbCTnQbwvZSXTDi8TMUTbs9Uw9YAzct88Uer0fBlDT7SR+IszHtaNHE2+336c28RtO95WYzAzDYyWWLf7xccKdjZoz/nZKagnMr/Mb+pfJxECWBvOR/8hWfvIdKArKpCcimJuB/HGVMZwvPhuIAAAAASUVORK5CYII=");
    width: 60%;
    height: 60%;
    display: flex;
    filter: brightness(0) invert(1);

    margin-left: -2vw;
    margin-top: 2vw;
  }

  > div:nth-child(2) {
    position: absolute;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVCAYAAAA49ahaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAE72lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgOS4xLWMwMDEgMTE2LmNhODJhZTQsIDIwMjQvMDIvMjItMjE6NTg6NDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjIwKzAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDI1LTExLTE4VDIxOjQ4OjIwKzAzOjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDplODNmY2M5OC0zMmVhLTVjNGMtODQ1NS05YjZkNTI2NDExYmQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ZTgzZmNjOTgtMzJlYS01YzRjLTg0NTUtOWI2ZDUyNjQxMWJkIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZTgzZmNjOTgtMzJlYS01YzRjLTg0NTUtOWI2ZDUyNjQxMWJkIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDplODNmY2M5OC0zMmVhLTVjNGMtODQ1NS05YjZkNTI2NDExYmQiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTdUMjI6NDM6MzYrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNC43IChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5em1aGAAAE7ElEQVR4nO2dTXbaSBRG71NyDkpGLIFegckKGq+g7RXEHuRE9iR4BcYraDyycjxovAKTFRivoLUE9Q6YhUHC64EkDFiA/gVy3ZHMEdLnj1eloqreQ1QVQ7FYdQtoIsbUEjCmloDkvYBeXnb59auHZR0BPVTbiLRf7iAeqlNEPOCZVmsiw+E0730Taev328xmXUT+Ajqodlf0qU6xLB/VKfAMTMR1J3nvm8nUUOw3RE5Q7Wa4xAR4wLbHZRisjtMDrlHtrnzAyfAJ9N2I6/pZ7p/aVHWca1T7GcTGXEyniIzJ8Q8sLhV90EVpA1AdInKbVltiU/XLly7v3/+TMTKTMCKDuaWYuYqPyJXc3Y2TviGRqfr16zdgUJLoZXxEbuXubpjkZL24OEH1b6BTqqqAgbjuTZITd5qqjnMNDPIqSokP3MT1uYuHD1wDvYp1jcR1z3edtNXUmgxd5WX0MAU6zOedClrMNnYau9HUvTB0f9lqbOzgf9GHGjZxFgZdLK8iVR2ng+q/NTexQ+E47stCXKQ+GUMTIvKo/X57/eUVU8Nm36lI0uGj2ubnz1fdwKL5q+N0gCeMqVlY6QaWI/UzxtCsrETrsqln1epoFL3lvtUCUMc5w0RpPmazfnQYRGow32jIx+foIDBV9aQuJQ2io5eXXQArnNA1FIFqD4JI7dUqpEmoHgFYiBzVraVB9AAsVNv16mgQ4dd7CzOUKg7Vtvb7bWNq0cxmbbOZogSMqSVgTC0Bi2Dl0lAUtj21wlVKQ0HIcDg1kVokqh4Eg///apbSHMJWbwFerUKaxTMEpk7q1dEg5nMPwBLXjTa9GvJiWR68zPz/qFNLI1D1om2g0eB/UpuYpiDyHB0Gptr2uC4tDWIcHVgQDFgx0ZoHP34zxXxu+tXsTJb/eDH148eRGQVkZmXb+sJUGQ6niDxUr+fgmawnf6xP/Y0rk9IcXgVi3KbfJ8yydVJ8cd0/1l+Mm6ROlNZiADZ4FZtIYaI1EbFRCpuXU0y07majR9tSfky0bmZjlML2hb+dmW1vmK0teaOp4djrtmg1DWAkrjvadsL2JWrbHmDWsNbZ+bzZamo40WK6gRcSpc4nTU1/ROQkr6IDZ+vDaZlkO1Q+fDjHdAPHSU9MZKrpBtJVzEhVQ0UdZwh8SynosFEdy/fvp2nekmqDmrhuPyyF9FbwEblK+6b0u/5UT3k7/etxlipEqU0V1/X5/TtVczhIRK6ylnXKtD9V7u+9LM3igLhJWnEojlxl6dRxBqxlEDeAB3HdszwXyLWTWlx3QJPmB0Q8bLuf+zIFSEEdZ8RSwuuB4mPbn4qoPViIqXDw868+GZ/0cRSXSGHbpwc6hvUp0FAoMFIjDqorCKqznRZpKJSQ8hM+Off/4SXi0WoVGqERpeRRiev22e/FwwdareOyKg4X3vyX0YuLfliKc5+4CYeCpVGqqRAWs3337pG6E4uDypZXu9aXiqD0NEq5v/eAY1THZd9rswjxEPlUhaFQQaQuU9PX2ltse1BVxXao2FSotPydD5wXUWI+LZWbGhEWGLumaHODvvMW2x5WGZ3L1GYqLKL2jCLqDO6BmRG1mhoRmtsjS+TukZkRe2HqMmHxsRNE/tzymwI+8AMY19Fn7mLvTF0nHOe2wz99bHu6LxG5CTE/8lU8poZKCRhTS8CYWgL/A0beu6+3TRpwAAAAAElFTkSuQmCC");
    width: 60%;
    height: 60%;
    display: flex;
    transition-property: opacity, scale;
    transition-duration: 0.2s;

    margin-left: -2vw;
    margin-top: 2vw;
  }
}

