@import "src/components/styles/mainStyle";

.namePlace{
  display: grid;
  grid-template-columns: 25vw 1fr 0;
  padding: 0 3.9vw 3.9vw 3.9vw;
  .productImage{
    height: 22.7vw;
    width: 22.7vw;
    min-height: 22.7vw;
    min-width: 22.7vw;
    background-size: cover;
    border-radius: 2.6vw;
  }
}

.title {
  @extend %font-bold;
  font-size: 5.3vw;
  line-height: 6vw;
  max-height: 18vw;
  min-height: 6vw;
  height: max-content;
  overflow: hidden;
  text-align: left;
  color: white;
}

.infoLabel{
  @extend %font-bold;
  font-size: 2.6vw;
  line-height: 3.5vw;
  color: #595959;
}

