@import "src/components/UI/pages/AdminPanel/AdminPanel.module";

.input-file {
  position: relative;
  display: flex;
}

.input-file-text {
  @extend %text;
  margin-left: 10px;
  margin-top: 16px;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: flex;
  align-content: center;
  width: 0;
  height: 0;
}

.input-file-btn {
  margin-top: 10px;
  background: $bg-color;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  width: 175px;
  height: 30px;
  cursor: pointer;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid $secondary-color;
}