@import "src/components/styles/mainStyle";

.catalogItem {
  display: flex;
  border-radius: $block-border-radius / 2;
  margin-top: 3vw;
  position: relative;
  width: 41vw;
  height: 57.5vw;
  min-height: 57.5vw;
  min-width: 41vw;
  box-sizing: border-box;

  > div:nth-child(1) {
    position: relative;
    width: 41vw;
    height: 57.5vw;
    min-height: 57.5vw;
    min-width: 41vw;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: $block-border-radius / 2;

    > div {
      display: flex;
      width: 41vw;
      height: 56.5vw;
      margin-left: 0.5vw;
      margin-top: 0.5vw;
      background-size: 100% 75%;
      border-radius: $block-border-radius / 2;
    }
    >div:last-child{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      mask: linear-gradient(to top, black 30%, transparent 50%);
      filter: blur(15px)
    }
  }


  .gradient {
    position: absolute;
    width: 42.0vw;
    height: 57.5vw;
    margin-left: -0.5vw;
    padding: 1vw;
    background: linear-gradient(180deg, #00000000 50%, rgba(23, 23, 23, 0.83) 70%, #171717 90%);
    display: flex;
    flex-direction: column;
    border-radius: $block-border-radius / 2;

    .cardName {
      display: flex;
      margin: 2vw 1.55vw 0 1.55vw;
      height: 9.4vw;
      min-height: 9.4vw;
      max-height: 9.4vw;
      overflow: hidden;
      >p{
        display: flex;
        height: max-content;
        margin: auto 0;
        font-size: 3.5vw;
        line-height: 4.6vw;
        font-family: 'SF PRO Display', serif;
        font-weight: 500;
        color: white;
      }
    }

    .cardPrice {
      display: flex;
      margin: 0 1.55vw 0 1.55vw;
      font-size: 3.5vw;
      height: 6.3vw;
      min-height: 6.3vw;
      max-height: 6.3vw;
      overflow: hidden;
      line-height: 6.3vw;
      font-family: 'SF PRO Display', serif;
      font-variant: normal;
      font-weight: 900;
      color: white;
    }

    .parcent {
      background: #EFD101;
      margin: auto auto auto 1vw;
      padding: 0.63vw 1.26vw;
      font-family: 'SF PRO Display', serif;
      border-radius: $block-border-radius / 4;
      color: black;
      font-size: 2.2vw;
      line-height: 2.7vw;
      font-weight: 900;
      height: max-content;
    }

    .platform {
      margin: auto 1.55vw 0 1.55vw;
      display: flex;
      flex-direction: row;

      > div {
        background: white;
        padding: 0.63vw 1.26vw;
        font-family: 'SF PRO Display', serif;
        border-radius: $block-border-radius / 4;
        color: black;
        font-size: 2.2vw;
        line-height: 2.7vw;
        font-weight: 900;
        height: max-content;
      }
    }
  }
}