@import "src/components/styles/mainStyle";

.mainDivision {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
}

.listGrid {
  z-index: 1;
  display: grid;
  width: 100%;
  grid-template-columns: max-content max-content;
  justify-items: auto;
}

.filter {
  > div {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAC/ElEQVR4nO3dT6gNYRjH8fe6JEkpUcrCLWRhQbLxJzY2bNiwssKGQpF7s2Zjx46VhdK5ZaUkCxsWFlhYWBAL+Vsihcifr6Yz52Zj3hned+Z53/l96qxuZ+Z55nfOnHfe98y5zomIiIiIiIiIiIjEBqwCzgIDYFoPqh6D8litjBXGFuAz0lRxzDbHCORB41Jk5F7oMOYAv2Y2L039BGaHDuVN4zJk5FXQMMpATsxsXpo6HiOQMeAY8Eynr1qKY/QUOFIcu+CB/CWkKU9RP4CdLhPAduC7p+eprou86CnwI7DGJQ5YDXzw9Hqp6zpHI7BbnkKL09xilyhgEfDE0+NtYK6zILmC47zgljhLknlL9+mUXPNDb9IlghwGLcCBGsPBPc44YHd5hV3lsEsBcN7TyBdggzMKWAd88vRwzqUCGAeueRp6CSxzxgBLgeee2m8En5uKDVgAPPQ0dh+Y74wA5gF3PTU/Aha6FAHLgbeeBq8CswzUOgZc8dT6DljhUgZsAr56Gj1toM4znhq/AdtcDoC9ngnJ4m/7VJ+9V+DWDuramMI7uBfnaBL6jMt+FEOCo8Bsx/kkfJ2U5ZUwic8kRFFMypWTc1UORdjvfs8+i/mrXa6Pas6m7gi4v6xmo6MALrSx3sBwveZ9bus1SS4BM1zRfJzjimYUMQ8YPVjzjyLWKYWWTolZot6H7skG25tsc9CQJQINS7saVmeJ/7xwA9ZmtQTbNYZTG9c9B3RQ8fzi7qUqxbbH2+0qcfgn/6YrnlvcUpbfEmzXgIkIgUy020VmCBxIu9VnCAViCwrEFhSILSgQW1AgtqBAbEGB2IICsQUFYgsKxBYUiC0oEFtQILagQGxBgdiCArEFBWILCsQWFIgtKBBbUCC2oEBsQYGkFwjDe0CKn/A4Bdwsv/urQFoO5M4fAfi+WK1AQiGwrvtJHgrEFhSILYTxArgMHOy6n+Txb16XQ9+jwPrWfgy/D1AAtqAAbEEB2EKsfzsnIiIiIiIiIiIiIiKuJ34DLHd1cOcRFJMAAAAASUVORK5CYII=);
  }
}

.filter, .sorting {
  z-index: 1;
  margin-top: 3vw;
  margin-left: 6vw;
  border-radius: $button-border-radius;
  background: $menu-color;
  min-width: 41vw;

  > div:first-child {
    background: linear-gradient(145deg, $menu-color 0%, #616161 100%);
    opacity: 0;
    z-index: 25;
    display: flex;
    flex-direction: row;
    border-radius: $button-border-radius;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  > div:nth-child(2) {
    z-index: 50;
    min-height: 5vw;
    min-width: 5vw;
    display: flex;
    margin: auto 1vw auto auto;
    background-size: cover;
  }

  > p {
    z-index: 50;
    font-family: 'SF PRO Display', serif;
    color: white;
    font-weight: normal;
    font-variant: normal;
    font-size: 4vw;
    padding: 2vw;
    text-align: center;
    margin-right: auto;
  }

}

.staticBg {
  background: $menu-color;
}

.pulseBg {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}

.productImage {
  z-index: 1;
  opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
  width: 41vw;
  height: 41vw;
  border-radius: 3vw;
}

.title {
  z-index: 1;
  @extend %font-medium;
  font-size: 5vw;
  text-align: left;
  margin: 3vw 0 1vw 6vw;
  color: white;
}

.preloadProductImage {
  z-index: 1;
  width: 41vw;
  min-height: 41vw;
  border-radius: 3vw;
  display: flex;
  position: relative;
  background: #3a3a3a;
  background-image: linear-gradient(to right, #3a3a3a 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: ease-in-out;

  @-webkit-keyframes shimmer {
    0% {
      background-position: -20vw 0;
    }

    100% {
      background-position: 60vw 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -20vw 0;
    }

    100% {
      background-position: 60vw 0;
    }
  }
}

.wrapper {
  scale: 0.5;
  width: 200px;
  height: 60px;
  display: flex;
  margin: 45vh auto;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: -0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: -0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: -0.2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: -0.3s;
}
