@import "src/components/styles/mainStyle";

.mainDivision {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}

.productImage {
  opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;
  width: 41vw;
  height: 41vw;
  border-radius: 3vw;
}

.title{
  @extend %font;
  font-size: 5vw;
  text-align: left;
  margin: 3vw 0 1vw 6vw;
  color: white;
}