@import "../../../styles/mainStyle";

.container {
  position: absolute;
  bottom: 110%;
  transition-property: margin-top, height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 3vw;
  margin-left: (5vw + ((90vw / 5) * 4) - (90vw / 10) - ((90vw / 5) * 2.3 / 2));
  width: (90vw / 5) * 2.3;
  background-color: rgb(46, 43, 43);
  display: flex;
  flex-direction: column;
  z-index: 250;

  div:nth-child(2n+1){
    padding: 1.25vw 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    >div:nth-child(1){
      @extend %font;
      margin: auto auto auto 7%;
      color: white;
      width: max-content;
      font-size: 3vw;
    }
    >div:nth-child(2){
      background: none;
      width: 4vw;
      height: 4vw;
      margin: auto 7% auto 0;
      background-size: cover;
    }
  }
  div:nth-child(2n){
    width: 100%;
    height: 1px;
    background-color: #837e7e;
  }
}