@import "../../../styles/mainStyle";

.container {
  position: absolute;
  bottom: 0;
  padding-bottom: 16%;
  margin-left: (2.5% + ((95% / 5) * 4) - (95% / 10) - ((95% / 5) / 2));
  width: (95% / 5);
  display: flex;
  flex-direction: column;
  z-index: 500;
  @extend %no-select;


  >div {
    position: absolute;
    overflow: hidden;
    transition-property: scale, opacity, height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    width: 280%;
    margin-left: -90%;
    bottom: 110%;
    z-index: 600;
    border-radius: 30px;
    background-color: #242424;
    @extend %no-select;
    padding-bottom: 10%;


    div {
      z-index: 250;
      padding: 1.25vw 0;
      margin: 0 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      @extend %no-select;

      > div:nth-child(1) {
        background: none;
        width: 5vw;
        height: 5vw;
        margin: auto 1.5vw auto 3vw;
        background-size: cover;
      }

      > div:nth-child(2) {
        @extend %font;
        margin: auto auto auto 0;
        color: white;
        width: max-content;
        font-size: 3vw;
        @extend %no-select;

      }
    }
  }
}

.selectedItem{
  background: #464646;
  border-radius: 3vh;
}

.label{
  @extend %font;
  color: #8f8f8f;
  height: 7vw;
  width: max-content;
  font-size: 3.5vw;
  margin: 2vw auto auto auto !important;
  display: flex;
  @extend %no-select;
}