@import "src/components/styles/mainStyle";

.container {
  position: absolute;
  width: 100%;

  align-items: end;

  > div {
    transition-property: margin-top, height;
    transition-duration: 0.3s;
    width: max-content;
    margin-left: (5vw + ((90vw / 5) * 4) - (90vw / 10) - ((90vw / 5) * 2.3 / 2));

    >div{
      width: (90vw / 5) * 2.3;
      border-radius: 20px;
    }
  }
}