@import "src/app/styles/mainStyle";

.mainDivision {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 300ms ease-in-out forwards;
  -webkit-animation: animOpacity 300ms ease-in-out forwards;
  display: grid;
  grid-template-rows: 1fr 14vw;
}

.bodyContainer{
  overflow-y: scroll;
  transition: opacity 150ms ease-in-out;
}

.barSlot {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @media (min-width: 768px) {
    top: 0;
    bottom: auto;
    z-index: 10100;
    overflow: visible;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }

  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}