.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  animation: appear var(--duration-base) var(--ease-out) backwards;
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.content > * {
  flex: 1;
  min-height: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
