.container {
    background-color: #1c1c1e;
    color: #fff;
    border: 1px solid #2c2c2e;
    border-radius: 16px;
    padding: 10px;
    font-family: sans-serif;
    width: 270px;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.header {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 1em;
}


.card {
    background-color: #2c2c2c;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, background-color 0.2s;
}

.card-hover-effect:hover {
    transform: scale(1.02);
    background-color: #3a3a3a;
}

.card-header-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notify-label {
    font-size: 0.65em;
    color: #fff;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.badge {
    background-color: #007bff;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 0.6em;
}

.card-text {
    margin: 5px 0;
    font-size: 0.8em;
}

.progress-bar-container {
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
    height: 6px;
}

.progress-bar-animation {
    transition: width 0.5s ease-in-out;
}

.progress-bar {
    background-color: #28a745;
    height: 100%;
}

.progress-text {
    font-size: 0.65em;
    color: #aaa;
    margin-top: 5px
}


.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2c2c2c;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(16px);
}


.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 50%;
}