@import "src/components/styles/mainStyle";

.container {
  display: flex;
  background: $menu-color;
  width: 100vw;
  height: 8vh;

  > div {
    margin: 0 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      height: 100%;
      width: 100%;
      align-content: center;
      justify-items: center;

      > div {
        width: 3vh;
        height: 3vh;
        background-size: cover;
        margin: 0.6vh 0;
      }

      > p {
        font-size: 1vh;
        color: white;
        @extend %font;
      }
    }
  }
}

.activeTab{
  &-true{
    opacity: 1;
  }
  &-false{
    opacity: 0.4;
  }
}

.button- {
  &main {
    background-image: url("./icons/main.png");
  }

  &search {
    background-image: url("./icons/search.png");
  }

  &basket {
    background-image: url("./icons/basket.png");
  }

  &PS {
    background-image: url("./icons/PS.png");
  }

  &more {
    background-image: url("./icons/more.png");
  }
}
