@import "src/components/styles/mainStyle";

.container {
  position: absolute;
  display: flex;
  bottom: 0;
  background: $menu-color;
  width: 100vw;
  z-index: 250;

  > div {
    height: 8%;
    margin: 2% 3vw;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      height: max-content;
      width: 100%;
      margin: auto;
      align-self: center;
      transition-property: opacity;
      transition-duration: 0.2s;

      > div {

        width: 3.5vh;
        height: 3.5vh;
        margin: auto auto 0 auto;
        background-size: cover;
      }

      > p {
        font-size: 1.25vh;
        margin: 0.4vh;
        color: white;
        @extend %font;
        text-align: center;
      }
    }
  }
}

.island {
  position: absolute;
  display: flex;
  bottom: 1.5%;
  border-radius: 100vh;
  backdrop-filter: blur(4px) contrast(120%);
  -webkit-backdrop-filter: blur(4px) contrast(120%);
  border: $menu-color solid 1px;
  box-shadow: 0px 1px 5px black;
  background-color: rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-left: 5%;
  z-index: 250;

  > div {
    height: 8%;
    margin: 2% 3vw;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      height: max-content;
      width: 100%;
      margin: auto;
      align-self: center;
      transition-property: opacity;
      transition-duration: 0.2s;

      > div {

        width: 3.5vh;
        height: 3.5vh;
        margin: auto auto 0 auto;
        background-size: cover;
      }

      > p {
        font-size: 1.25vh;
        margin: 0.4vh;
        color: white;
        @extend %font;
        text-align: center;
      }
    }
  }
}

.activeTab{
  &-true{
    opacity: 1;
  }
  &-false{
    opacity: 0.3;
  }
}

.button- {
  &main {
    background-image: url("./icons/main.png");
  }

  &search {
    background-image: url("./icons/search.png");
  }

  &basket {
    background-image: url("./icons/basket.png");
  }

  &PS {
    background-image: url("./icons/PS.png");
  }

  &more {
    background-image: url("./icons/more.png");
  }
}
