@import "src/components/styles/mainStyle";

.container {
  position: absolute;
  display: flex;
  bottom: 0;
  background: $menu-color;
  width: 100vw;
  z-index: 250;

  > div {
    height: 8%;
    margin: 2% 3vw;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      height: max-content;
      width: 100%;
      margin: auto;
      align-self: center;
      transition-property: opacity;
      transition-duration: 0.2s;

      > div {

        width: 7vw;
        height: 7vw;
        margin: auto auto 0 auto;
        background-size: cover;
      }

      > p {
        font-size: 3vw;
        margin: 0.8vw;
        color: white;
        @extend %font;
        text-align: center;
      }
    }
  }
}

.island {
  position: absolute;
  display: flex;
  bottom: 1.5%;
  border-radius: 100vh;
  backdrop-filter: blur(10px) contrast(50%);
  -webkit-backdrop-filter: blur(10px) contrast(50%);
  border: 1px solid rgba(145, 142, 142, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
  width: 95%;
  margin-left: 2.5%;
  z-index: 250;

  > div:nth-child(1) {
    position: absolute;
    height: 100%;
    padding: 0.8% 1%;
    width: 100%;

    z-index: 275;
    > div {
      transition-property: margin-left;
      transition-duration: 0.2s;
      transition-timing-function: revert-layer;
      background-color: rgba(147, 144, 144, 0.1);
      border-radius: 100vh;
      width: 22%;
      height: 100%;
      background-size: cover;
    }

  }
  > div:nth-child(2) {
    @extend %no-select;
    height: 8%;
    margin: 2% 2%;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    > div {
      @extend %no-select;
      z-index: 300;
      height: max-content;
      width: 100%;
      margin: auto;
      align-self: center;
      transition-property: opacity;
      transition-duration: 0.2s;

      > div {
        @extend %no-select;
        width: 7vw;
        height: 7vw;
        margin: auto auto 0 auto;
        background-size: cover;
      }

      > p {
        @extend %no-select;
        font-size: 2.5vw;
        margin: 0.8vw;
        color: white;
        @extend %font;
        text-align: center;
      }
    }
  }
}

.productCounter{
  position: absolute;
  margin-left: 95% / 5 * 3 - 6%;
  margin-top: 2.5%;
  @extend %font;
  font-size: 3vw;
  line-height: 4vw;
  z-index: 300;
  border-radius: 100vh;
  width: 4vw;
  height: 4vw;
  background-color: rgba(227, 28, 28, 0.6);
  >div{
    display: flex;
    color: $menu-color;
    margin: auto;
    width: max-content;
    height: max-content;
  }
}

.activeTab {
  &-true {
    opacity: 1;
  }

  &-false {
    opacity: 0.3;
  }
}
