$bg-color: #171717;
$menu-color: #222222;
$button-border-radius: 1.5vw;


@font-face {
  font-family: 'font-medium';
  src: url('./fonts/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'font-bold';
  src: url('./fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'font-extrabold';
  src: url('./fonts/Jano Sans Pro Extrabold.ttf') format('truetype');
}


%font-medium {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-medium';
  line-height: 4vw;
  font-weight: normal;
}

%font-bold {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-bold';
  font-weight: normal;
}

%font-extrabold {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-extrabold';
  font-weight: normal;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}