$bg-color: #171717;
$menu-color: #222222;


@font-face {
  font-family: 'font-medium';
  src: url('./fonts/Jano Sans Pro Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'font-bold';
  src: url('./fonts/Jano Sans Pro Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'font-extrabold';
  src: url('./fonts/Jano Sans Pro Extrabold.ttf') format('truetype');
}


%font-medium {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-medium';
  font-weight: normal;
}

%font-bold {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-bold';
  font-weight: normal;
}

%font-extrabold {
  text-decoration: none;
  font-variant: normal;
  font-family: 'font-extrabold';
  font-weight: normal;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}