$bg-color: #171717;
$menu-color: #222222;


%font {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-variant: normal;
  font-weight: 700;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}