$bg-color: #171717;
$menu-color: #222222;
$button-border-radius: 1.5vw;
$block-border-radius: 5.35vw;


@font-face {
  src: url('./fonts/SF-Pro-Display-Medium.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('./fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('./fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-family: 'SF PRO Display';
  font-weight: 900;
  font-style: normal;
}


%font-medium {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 4vw;
}

%font-bold {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-variant: normal;
  font-weight: 700;
}

%font-extrabold {
  font-family: 'SF PRO Display', serif;
  text-decoration: none;
  font-variant: normal;
  font-weight: 900;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}