
.red{
    border: 1px solid red;
}

.green{
    border: 1px solid green;
}

.button{
    padding: 10px 15px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.username{
    margin-left: auto;
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 340px;
}


.img {
    width: 150px;
    background: lightgray;
    height: 150px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    border-radius: 5px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.homeBlock{
    border: red 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 280px;
}
.titleBlock{
    text-align: left;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}

.scroll-container {
    display: flex;
    height: 200px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 5px;
}

.home-block-element{
    display: block;
    height: 100%;
    margin-left: 6px;
}
.scroll-container::-webkit-scrollbar {
   width: 30px;
}

.name-block{
    text-align: left;
    margin-top: 3px;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
}
.all-see-button{
    margin-left: 50px;
    font-size: 14px;
}
.card-product{

}