
.red{
    border: 1px solid red;
}

.green{
    border: 1px solid green;
}

.button{
    padding: 10px 15px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 340px;
}


.img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;

}

.description {
    font-size: 0.8em;
}

.list {
    display: flex;
    border: 2px solid green;
}

.list-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    border: 2px solid orange;
}

.homeBlock{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.title{
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 19px;
    font-family: Arial, Verdana, sans-serif;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: max-content;
}

.home-block-element{
    display: block;
    height: 100%;
    margin-left: 6px;
}
.scroll-container::-webkit-scrollbar {
   width: 30px;
}

.text-element{
    text-decoration: none;
    text-align: left;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Bahnschrift, Verdana, sans-serif;
    color: white;
    font-size: 16px;
    overflow: hidden;
    word-break: break-word;
}
.price-element{
    margin-top: 13px;
    height: 23px;
}
.name-element{
    height: 33px;
}

.all-see-button{
    margin-left: 50px;
    font-size: 14px;
}
.img-home{
    width: 170px;
    height: 170px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.box-home-block-element{
    background: rgb(69, 69, 69);
    border-radius: 13px;
    width: 170px;
}
.App{
    background: rgb(23, 23, 23);
}
.link-element{
    text-decoration: none;
}
.all-see-button{
    background: rgb(69, 69, 69);
    color: white;
    border-radius: 9px;
    border: none;
    width: 190px;
    height: 40px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list-element{
    margin-top: 15px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}


