
.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.button {
    padding: 10px 15px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 340px;
}


.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.description {
    font-size: 0.8em;
}

.list {
    display: flex;
}


.list-grid {
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content;
    justify-items: auto;
}

.homeBlock {
    margin-top: 10px;
}

.title {
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-container-y {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 100%;
    overflow-y: scroll;
    flex: 0 1 auto;
    max-width: 100%;
}

.home-block-element {
    display: block;
    height: 100%;
    margin-right: 6px;
    margin-bottom: 3px;
}


.text-element {
    text-decoration: none;
    text-align: left;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Montserrat', sans-serif;
    font-variant: normal;
    font-weight: 700;
    color: white;
    font-size: 12px;
    overflow: hidden;
    word-break: break-word;
}

.price-element {
    margin-top: 5px;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
}

.name-element {
    margin-top: 5px;
    line-height: 16px;
}


.img-home {
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

.box-home-block-element {
    border-radius: 13px;
    width: 150px;
}

body {
    background: rgb(23, 23, 23);
}

.link-element {
    text-decoration: none;
}

.all-see-button {
    background: rgb(69, 69, 69);
    color: white;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    width: 190px;
    height: 40px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.list-element {
    margin-top: 15px;
    display: flex;
}

.selector-container {
    border-radius: 7px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 7px;
    margin-right: 7px;
}


.selector-button {
    color: white;
    background: #171717;
    border-radius: 9px;
    border: 2px gray solid;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    font-size: 16px;
    height: 30px;
    width: 100%;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.card-product {
    display: block;
}

.name-card-element {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-grid-panel {
    display: grid;
    grid-template-columns: 1fr 40px 42px;
}

.search {
    background: white;
    margin: 7px;
    height: 35px;
    border-radius: 7px;
    text-align: left;
}

.div-button-panel {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    background: white;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 7px;
    color: white;
    height: 35px;
    width: 35px;
}

.box-item-basket {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 50px;
}

.img-mini {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 7px;
}

.box-grid-row {
    display: grid;
    align-items: start;
    grid-template-rows:1fr 1fr 1fr;
    height: 75px;
}

.text-basket {
    overflow: hidden;
    text-wrap: wrap;
}

.button-buy {
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.background-basket {
    background-image: url("../icons/basket.png");
    background-size: cover;
}

.background-profile {
    background-image: url("../icons/user.png");
    background-size: cover;
}

.background-search {
    background-image: url("../icons/magnifier.png");
    background-size: cover;
}

.background-trash {
    background-image: url("../icons/cross.png");
    background-size: cover;
}

.background-heart {
    background-image: url("../icons/heart.png");
    background-size: cover;
}

.background-arrow {
    background-image: url("../icons/arrow.png");
    background-size: cover;
}

.background-filter {
    background-image: url("../icons/filter.png");
    background-size: cover;
}

.background-searchFon {
    background-image: url("../icons/searchFon.png");
    background-size: cover;
}

.background-psSel {
    background-image: url("../icons/psSel.png");
    background-size: cover;
}

.background-serSel {
    background-image: url("../icons/serSel.png");
    background-size: cover;
}

.background-xbSel {
    background-image: url("../icons/xbSel.png");
    background-size: cover;
}

.background-loveInfo {
    background-image: url("../icons/loveInfo.png");
    background-size: cover;
}

.background-arrowGray {
    background-image: url("../icons/arrowGray.png");
    background-size: cover;
}

.background-basketInfo {
    background-image: url("../icons/basketInfo.png");
    background-size: cover;
}

.background-psInfo {
    background-image: url("../icons/playstationInfo.png");
    background-size: cover;
}

.background-xbInfo {
    background-image: url("../icons/xboxInfo.png");
    background-size: cover;
}

.background-tgInfo {
    background-image: url("../icons/tgInfo.png");
    background-size: cover;
}

.background-vkInfo {
    background-image: url("../icons/vkInfo.png");
    background-size: cover;
}

.background-pzInfo {
    background-image: url("../icons/pzInfo.png");
    background-size: cover;
}

.background-pkInfo {
    background-image: url("../icons/pkInfo.png");
    background-size: cover;
}

.background-supportInfo {
    background-image: url("../icons/supportInfo.png");
    background-size: cover;
}

.background-ideaInfo {
    background-image: url("../icons/ideaInfo.png");
    background-size: cover;
}

.background-basketSaid {
    background-image: url("../icons/saidBasket.png");
    background-size: cover;
}

.button-trash {
    height: 50px;
    width: 50px;
    margin-top: 12px;
    padding: 10px;
    background: #171717;
}

.pong-loader {
    width: 100px;
    height: 100px;
    background: url("../icons/golo.png");
    background-size: cover;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
}

.pong-loader {
    animation: spin 0.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: scale(0%);
    }
    60% {
        transform: scale(120%);
    }
    80% {
        transform: scale(80%);
    }
    100% {
        transform: scale(85%);
    }
}

.swiper-slide {
    background: #171717;
    text-align: center;
    padding-bottom: 5px;
}

#box {
    border-radius: 15px;
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 1) !important;}

.swiper-pagination-bullet-active {
    background: rgba(45, 70, 230, 1) !important;
}


