@import "src/components/styles/mainStyle";

.container {
  > div:first-child {
    width: 80vw;
    margin: 6vw 10vw;
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 4vw;

      > div {
        width: 38vw;
        height: 26vw;
        border-radius: 5vw;

        > div {

        }

        > p {
          @extend %font;
          font-size: 4vw;
          margin: auto 2vw 2vw auto;
          width: max-content;
          height: 3.4vw;
          display: flex;
        }
      }
    }

    > div:nth-child(1) {
      > div:nth-child(1) {
        background-color: #d4d4d4;
        color: #232121;
      }

      > div:nth-child(2) {
        background-color: #d4d4d4;
        color: #232121;
      }
    }

    > div:nth-child(2) {
      > div:nth-child(1) {
        background-color: #282828;
        color: #3a3a3a;
      }

      > div:nth-child(2) {
        background-color: #489a4e;
        color: white;

      }
    }

  }

  > div:nth-child(2) {
    @extend %font;
    font-size: 4vw;
    margin: 0 0 3vw 2.5vw;
    color: #d4d4d4;
  }
}

.slide {
  width: 50vw;
  height: 40vw;
  border-radius: 5vw;
  padding: 3vw;
  background-color: #d4d4d4;
  text-align: left !important;
  margin-left: 5vw;
  margin-bottom: 5vw;

  > div:nth-child(1) {
    @extend %font;
    color: #747474;
    font-size: 5vw;
  }

  > div:nth-child(2) {
    margin-top: 1vw;
    @extend %font;
    font-size: 5vw;
    font-weight: normal;
    color: #323030;
  }
}

.homeScreen {
  width: 90vw;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vw 5vw;
  display: flex;
  overflow: hidden;
  max-height: 32.5vw;

  > div {
    width: max-content;
    padding: 1.3vw 2.3vw;
    background: #373737;
    @extend %font;
    border-radius: 3.5vw;
    margin: 1.2vw 1.2vw 0 0;
    height: 6.7vw;
    color: white;
    font-size: 3.2vw;
    text-align: center;
    -webkit-animation: animClue 1.5s forwards ease-in-out;
    animation: animClue 1.5s forwards ease-in-out;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
