@import "src/components/styles/mainStyle";

.container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: #171717;

  > div {
    width: 100%;
    height: max-content;
    position: relative;
  }
}

.title {
  @extend %font-medium;
  font-size: 4.2vw;
  margin: 1.6vw 0 4.0vw 4.0vw;
  color: white;
}

.blockButton {
  background: $menu-color;
  margin: 1.6vw 3.2vw 4.0vw 3.2vw;
  width: 93.6vw;
  border-radius: $block-border-radius;
  height: max-content;
  padding: 2.9vw 0 2.9vw 2vw;
  transition: height 0.3s ease;

  > div {
    width: 100%;
    display: grid;
    grid-template-columns: 11.4vw 1fr;

    > div:nth-child(1) {
      margin: 0.5vw;
      height: 8vw;
      width: 8vw;
      background: #ed7373;
      border-radius: $block-border-radius/3;

      > div {
        margin: 0.5vw;
        height: 7vw;
        width: 7vw;
        background-size: cover;
      }
    }

    > div:nth-child(2) {
      > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        > p:nth-child(1) {
          font-size: 4.2vw;
          font-family: 'SF PRO Display', serif;
          color: white;
          line-height: 9vw;
        }
        >div:nth-child(2) {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAABrElEQVR4nO3dwUobURhA4Zj6JoJ2V7CIPrMbF1Jc2pcRuqmGLhqDiyOhs2u1sWDuaXK+J/iZw/x3dWdmsyRJkn8FHIyeIb9CfAJugCWwAq6Bj6Pn2ucYP/jdA3A+er69M70ZL1kUZYuA+bSmXrMoyhYBP/8SZK0o2wJcsZlFUbYAOJoO8KJYAKfA9zdEuRg9884rilBRhIoiVBShoggVRagoQhTFh6L4UBQfiuJDUXwoig9F8aEoPhTFh6L4UBQfiuJDUXwoig9F8aEoPhTFh6L4UBQfiuJDUXwoig9F8aEoPhTFh6L4AOfTw97E+hre8eiZdx5vi3I5et69wObr69voWfcC8Bm43yDI3ehZdx6tLA861P/LNbXWBwzeUzFEKIYHxfCgGB4Uw4NieFAMD4rhQTE8KIYHxfCgGB4Uw4NieFAMD4rhQTE8KIYHxfCgGB4Uw4NieFAMD4rhQTE8iiFSDJFiiBRDpBgixRAphkgxRICTfr0qAnwphgTwAVgVQwI4BJ6KIQJ8LYYIcAYs/xBjfdAXY2CU22l9PQLXXcr3HPLz0XMkSZLM3ssz7I2Kx8KxzfsAAAAASUVORK5CYII=");
          height: 4vw;
          width: 4vw;
          display: flex;
          margin: 2.5vw 2.9vw auto auto;
          opacity: 0.5;
          background-size: cover;
        }
      }
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 1vw;
  background: #595959;
}

.slide {
  width: 50vw;
  height: 40vw;
  border-radius: 5vw;
  padding: 3vw;
  background: $menu-color;
  text-align: left !important;
  margin-left: 5vw;
  margin-bottom: 5vw;
  -webkit-animation: animClue 1.5s forwards ease-in-out;
  animation: animClue 1.5s forwards ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);

  > div:nth-child(1) {
    @extend %font-bold;
    color: white;
    font-size: 5vw;
    line-height: 7vw;
  }

  > div:nth-child(2) {
    margin-top: 1vw;
    @extend %font-medium;
    font-size: 5vw;
    line-height: 5.5vw;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.84);
  }
}

.homeScreen {
  height: 40vw;
  margin: 1vw 0;
  position: relative;
  overflow-x: scroll;
  z-index: 300;

  > div {
    width: 150vw;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    padding-left: 5vw;
    z-index: 1000;

    > div {
      width: max-content;
      padding: 1.3vw 2.3vw;
      @extend %font-medium;
      border-radius: 3.5vw;
      margin: 1.2vw 1.2vw 0 0;
      height: 6.7vw;
      color: white;
      font-size: 3.2vw;
      text-align: center;
    }
  }
}

@keyframes animClue {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animClue {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
