@import "../../../styles/mainStyle";

.container {
  z-index: 100;
  position: absolute;
  width: 100vw;
  animation: forwards 0.3s ease-in-out backdrop;
  transition: all 0.3s ease-in-out;

  > div {
    z-index: 150;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    bottom: 0;
    opacity: 0.3;
    animation: forwards 0.25s ease-in-out openFilters;
    display: grid;
    grid-template-rows: 1fr max-content max-content max-content;

    > div:nth-child(2) {
      padding: 3vw 3vw 5vw 3vw;
      width: 94vw;
      max-height: 60vh;
      margin: 0 3vw;
      background: $menu-color;
      color: white;
      border-radius: $block-border-radius/2;
      position: absolute;
      overflow-y: scroll;


      .title {
        display: flex;
        margin: 1vw auto 2vw auto;
        width: max-content;
        font-size: 4.7vw;
        font-family: 'SF PRO Display', serif;
        font-weight: bold;
        color: white;
      }

      > div {
        display: flex;
        flex-direction: row;
        transition: all ease-in-out 0.2s;
        overflow: hidden;

        > div {
          min-height: 5vw;
          min-width: 5vw;
          width: 5vw;
          height: 5vw;
          margin: auto 0 auto 2vw;
          background-size: cover;
        }

        > p {
          display: flex;
          margin: auto auto auto 1.5vw;
          width: max-content;
          height: max-content;
          font-size: 3.7vw;
          font-variant: normal;
          text-align: left;
          font-family: 'SF PRO Display', serif;
          color: white;
        }

        .selected {
          margin-right: 3vw;
          margin-left: auto;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAABu0lEQVR4nO3awUkkQQBG4UbWoyDr1RC8ehE8LGagdyPRCKQDMIENwgREBE+bhQiC6El50tIDori2itbfVe+L4J951BRDd9dJkiRJkiRJkiRJkiT9MGAFOAaugDvgL7D20zvUPcX4DVzw2imwVHpfU4BV4Jy3bZXe2AzePhnP7Zbe2QSmxbgH1ktvrR7TYgwOSm+tHu/fGQt96a3Vwxg5jBHEGEGMEcQYQYwRxBhBjBHEGEGMEcQYQTBGDoyRA2PkwBg5MEYOjJEDY+TAGDkwRg6MkYNaYwC/unrfmzrq5mB4QRg4BC6BB+AM2OxmgNpiDMYYL90Cf7pg1BhjMJ4M5hSFimMsjz9TzCUKtcZYGO8M5hCF2mMMhgt8/NKjo9BCjAVgG7iZEGWn0L7VKv9nzDEKLcZIjULLMdKiYIycKBgjJwrGyImCMXKiYIycKBgjJwrGyImCMXKiYIycKBgjJwrGyImCMb7f8Jxk4vOUvWaeZ8zkpEzhyQiK0pf+DNX5QpS+9PZqfSJKX3pz9T4QpS+9tRkTovSlNzbnP1H60tuaBWwAJ8A18A/YL71JkiRJkiRJkiRJkiR1MR4B9d9E21KpxXEAAAAASUVORK5CYII=);
        }

        .arrow {
          margin-right: 3vw;
          margin-left: auto;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAACvElEQVR4nO3dPUhVYRzH8VsWlIaQDUJToZO1tAaNIZRQq0QgBG0hkYtTS2RTIC1tDQ6Cg1s6uN6hCy01qJPYophLgvSCL984IGThtXvPOY///3Oe32d0ev483PP13vNWq4mIiIiIiIjI34DTwLl//iwnCegBXgDL/PEFeANcOdHFpA64D3yluW1g2HqdlQd0Am9pzR4wZL3mygJuAEu0Zw3osl57FYM9BvwinxHrGSoDuAwsUMw76zmqFO5Nipu3niWlcLdi2nqm1ML9P0+t54oOcKpguJv5DvRaz5diuJsZs54vKsC9ksJ9lNfZJ896xlTDfdgW8MB6xmgA14HPhPEB6LeeMaZwjwI/A2zELvAKOGs9ZxSAXmCOMFaBW9YzpviN+ygzwEXrGaMAnAcmgX3ChPuh9YzRQOH2AYXbDxRuP1C4fUDhTircfdYzRkHhdkThdgQYBNYDbcaMwt0ihdsRhTuNcO8o3O2H+z1hrCrcbVC4nchudlG4nVC4HQGeBAz3c+CM9YzRACYIYwW4aT1fVIC7gTZjCui2ni86wMeSN2JL4c4JuFryZtR112sBwO2SNmJH37h9bciuNqQE2eGFctV1yCpIUXcGuEMYU/q3NyfgZaBNWdEXw5z004lDwDXgE2E0dB1uDvr53SmdoHJIp3Ad0tWJvoMf6mxiQ8H3GfzH1jNGScF3SMF3SMF3SsF3CAXfJxR8f1Dw/UHBT/J64YaCnwMKvk8o+P6g4PuDgu8TCr4/6DGxSQZ/Mnv3iPWM0SHso8bHreeLEuEexv9DF4L7C74+Jc6CrzfsOAt+vZQFSa2sB6bNWs9RKRR/bd4z6xkqiXzB/wZcsl57ZdFe8LOf/R9ZrzmlBzdvHLMZ2eFt1HqdSQG6D17fvXhoIzYP7nMcsF5f0oAL2YkqoMN6LSIiIiIiIlJLy2/kAK9SJeABwwAAAABJRU5ErkJggg==);
          transition: rotate 0.2s ease-in-out;
          rotate: 180deg;
        }

        .selectedArrow {
          rotate: 270deg;
        }

        > input {
          width: 3.7vw;
          height: 3.7vw;
          display: flex;
          margin: auto 0 auto 5vw;
        }
      }

      .separator {
        margin: 3vw 1.5vw;
        height: 1px;
        width: 81vw;
        background: #323232;
      }
    }

    > button {
      font-family: 'SF PRO Display', serif;
      font-size: 4.2vw;
      font-weight: bold;
      margin: 3vw 3vw 7vw 3vw;
      height: 13vw;
      width: 94vw;
      background: $menu-color;
      color: white;
      border-radius: $block-border-radius/2;
      position: absolute;
    }


    > button:nth-child(4) {
      bottom: 15vw;
    }

    > button:nth-child(3) {
      bottom: 0;
    }
  }
}

@keyframes backdrop {
  0% {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
  }
  100% {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
};

@keyframes openFilters {
  0% {
    height: 0;
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }
  100% {
    height: 100vh;
    opacity: 1;
    -webkit-opacity: 1;
  }
}  ;