@import "src/components/styles/mainStyle";

.mainContainer {
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.4s;
  >div:nth-child(2) {
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
  }
}

.selectPlace {
  margin: 1.5vw 0 0 0;
  display: flex;
  flex-direction: row;

    > button {
      display: flex;
      border-radius: $block-border-radius / 2;
      z-index: 10;
      width: 40vw;

      > div {
        z-index: 10;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        margin: 2.25vw auto;
        @extend %font-medium;
        font-weight: 500;
        font-size: 3.75vw;
        color: white;
      }
  }

  >button:nth-child(2) {
    margin: auto 0 auto auto;
  }

  .activeButton {
    box-shadow: 0.2vw 0.4vw 1vw rgba(80, 161, 85, 0.3);
    background: rgba(80, 161, 85, 0.3);
    border: 2px solid rgba(80, 161, 85, 1);
  }

  .noActiveButton {
    box-shadow: 0.2vw 0.4vw 1vw rgba(80, 161, 85, 0);
    background: $menu-color;
    border: #323232 solid 2px;
  }
}

.input {
  padding: 2.25vw 1vw;
  border-radius: $block-border-radius / 2;
  border: none;
  background: white;
  outline: none;
  color: black;
  @extend %font-medium;
  text-align: center;
  font-size: 3.75vw;
  margin: 1vw 0;
  width: 100%;
  caret-color: black;
}

.input:focus {
  outline: #4F8AE7 solid 2px;
}

.label {
  @extend %font-medium;
  text-align: center;
  font-size: 3.5vw;
  color: white;
  margin: 1vw 0;
  white-space: pre-wrap;
}

.title {
  @extend %font-medium;
  color: white;
  display: flex;
  margin: 2vw auto;
  font-size: 4vw;
}