@import "src/components/styles/mainStyle";

.mainContainer {
  background: #454545;
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 4vw;
  margin: 4vw 2vw 0 2vw;
  transition-property: min-height;
  transition-duration: 0.4s;
}

.selectPlace {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1vw 0;
  background: #AEAEAE;
  border-radius: $button-border-radius;

  > div {
    display: flex;
    border-radius: $button-border-radius;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    > div {
      transition-property: color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      margin: 2.25vw auto;
      @extend %font-medium;
      font-weight: 500;
      font-size: 3.75vw;
    }
  }
}

.input{
  padding: 2.25vw 1vw;
  border-radius: $button-border-radius;
  border: none;
  background: white;
  outline: none;
  color: black;
  @extend %font-medium;
  text-align: center;
  font-size: 3.75vw;
  margin: 1vw 0;
  width: 100%;
}
.input:focus{
  outline: #4F8AE7 solid 2px;
}

.label{
  @extend %font-medium;
  text-align: center;
  font-size: 3.5vw;
  color: white;
  margin: 1vw 0;
}

.title {
  @extend %font-medium;
  color: white;
  display: flex;
  margin: 2vw auto;
  font-size: 4vw;
}