@import "src/components/styles/mainStyle";

.buttonBuy {
  display: flex;
  margin: 2.9vw 0 0 0;
  width: 100%;
  letter-spacing: 0.2vw;
  @extend %font-medium;
  font-size: 3.5vw;
  font-weight: 900;
  border-radius: $button-border-radius;
  color: white;
  padding: 2.4vw 0;
  transition-property: background;
  transition-duration: 0.3s;

  > div:nth-child(1) {
    margin: 0 auto 0 42vw;
    transform: translateX(-50%);
    display: flex;
    width: max-content;
    transition: all ease-out 0.5s;
  }
}

.containerLoader{
  margin: auto 2vw auto auto;
  width: 4vw;
  height: 4vw;
}

.containerRotate {
  width: 4vw;
  transform-origin: center;
  opacity: 0;
  animation: rotate4 2s linear infinite, opacityAnim 0.5s ease-out forwards;
}

.loader {
  fill: none;
  stroke: #171717;
  stroke-width: 10;
  stroke-dasharray: 2, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
