@import "../../AdminPanel.module";

.body {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;

  > button {
    @extend %text;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border: 1px $secondary-color solid;
    border-radius: 7px;
    width: 100%;
    padding: 15px;
    background: $bg-color;
  }

  > div {
    position: absolute;
    width: 100%;
    z-index: 500;

    > ul {
      background: $bg-color;
      border-radius: 7px;
      border: 1px solid white;
      margin-top: 2px;
      margin-right: 34px;
      padding: 15px 10px;
      box-shadow: 5px 5px 5px black;
      overflow-y: scroll;
      height: max-content;
      max-height: 310px;
      > div {
        @extend %text;
        margin-left: 7px;
        cursor: pointer;
      }
    }
  }
}

.background-arrow {
  background-image: url("../../../../../icons/arrow.png");
  background-size: cover;
  transition-property: rotate;
  transition-duration: 0.2s;
  width: 15px;
  height: 15px;

  &-active {
    rotate: 90deg;
  }
}

.buttonOptionSeparator {
  cursor: default;
  margin: 15px 10px;
  border-bottom: 1px solid $secondary-color;
}