html, body {
overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
  outline: none;
  scale: 1;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


button:before {
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button:after {
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button:active {
  transform: scale(105%);
}
