body {
  background: #222222;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button:active{
  transform: translateY(4%);
  transition-property: transform;
  transition-duration: 0.2s;
}

button{
  scale: 1;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}