html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
  outline: none;
  scale: 1;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms cubic-bezier(.68,-0.55,0.27,2.5);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}