@import "src/components/styles/mainStyle";

.mainContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
.title{
  @extend %font;
  margin: 4vw auto;
  font-size: 5vw;
  color: white;
}