@import "src/components/styles/mainStyle";
@import "src/components/UI/pages/Basket/gif/Duck";

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: #171717;
  width: 100%;
}

.basketBlock {
  background: $menu-color;
  margin: 1.6vw 3.2vw 4.0vw 3.2vw;
  width: 93.6vw;
  border-radius: $block-border-radius;
  height: max-content;
  padding: 2.9vw 4.8vw;
  transition: height 0.3s ease;
}

.title {
  font-family: 'SF PRO Display', serif;
  font-variant: normal;
  font-weight: 700;
  font-size: 5.3vw;
  line-height: 8.5vw;
  color: white;
}


.label {
  @extend %font-medium;
  margin: 2vw 10vw 0 10vw;
  text-align: center;
  font-size: 4vw;
  color: white;
  user-select: none;
}

.infoLabel {
  @extend %font-medium;
  margin: 2vw 10vw 1vw 3vw;
  text-align: left;
  font-size: 4vw;
  color: #ed7373;
  user-select: none;
}


.happyDuck {
  display: flex;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  margin: 25vh auto 3vw auto;
  @extend %happyDuck;
}

.button {
  @extend %font-medium;
  margin: 1vw auto;
  border: none;
  font-size: 3.7vw;
  color: white;
  padding: 2vw 2.5vw;
  border-radius: $button-border-radius;
  display: flex;
}

.linkElement {
  @extend %font-medium;
  text-decoration: none;
  width: 100%;
}

.total {
  width: 100%;
  height: max-content;
  border-top: 2px solid #585858;
  position: absolute;
  background: $menu-color;

  > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin: 3vw 4vw 4vw 4vw;

    > div {
      @extend %font-medium;
      color: white;
      letter-spacing: 0.2vw;
      font-size: 4.5vw;
    }

    > div:nth-child(1) {
      margin: 0 0;
    }

    > div:nth-child(2) {
      margin: 0 0 0 auto;
    }

    > div:nth-child(3) {
      color: #757373;
      text-decoration: line-through;
      font-size: 3.5vw;
      margin: 1vw 0 0 1vw;
    }
  }
}

.labelBuy {
  @extend %font-medium;
  font-size: 2.8vw;
  line-height: 3.3vw;
  text-align: center;
  color: white;
  margin: 2.9vw 0 0 0;

  > a {
    text-decoration: none;
    color: #4F8AE7;
  }
}


.emptyBasket {
  width: 100%;
  margin-bottom: 10vw;

  div:nth-child(1) {
    display: flex;
    width: 30vw;
    height: 30vw;
    background-size: cover;
    margin: 10vw auto 3vw auto;
    @extend %saidDuck;
  }

  > div:nth-child(2) {
    margin-top: 0.3%;
    @extend %font-medium;
    color: white;
    text-align: center;
    user-select: none;
  }

  > div:nth-child(3) {
    @extend %font-medium;
    width: max-content;
    border: none;
    border-radius: $button-border-radius;
    color: white;
    background: #5a5a5a;
  }
}

.secretDuck {
  display: flex;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  margin: 25vh auto 3vw auto;
  @extend %secretDuck;
}


.usernameInput {
  margin-top: 2.9vw;
  @extend %font-bold;
  font-size: 3.5vw;
  background: white;
  text-align: center;
  border: none;
  outline: none;
  padding: 2.3vw 3vw;
  width: 100%;
  border-radius: $button-border-radius;
  caret-color: black;
}

.usernameLabel {
  @extend %font-bold;
  font-size: 2.8vw;
  line-height: 3.3vw;
  text-align: center;
  color: white;
  margin: 2.9vw 0 0 0;
}

.promoLabel {
  @extend %font-bold;
  font-size: 2.8vw;
  line-height: 3.3vw;
  text-align: center;
  color: white;
  margin: 2.9vw 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}

.separator {
  height: 0.6vw;
  width: 100%;
  margin-top: 2.9vw;
  background: #595959;
}

