@import "src/components/styles/mainStyle";
@import "src/components/UI/pages/Basket/gif/Duck";

.mainContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.title {
  @extend %font-medium;
  margin: 4vw auto;
  font-size: 5vw;
  color: white;
}


.label {
  @extend %font-medium;
  margin: 0 10vw;
  text-align: center;
  font-size: 4vw;
  color: white;
  user-select: none;
}

.happyDuck {
  display: flex;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  margin: 25vh auto 3vw auto;
  @extend %happyDuck;
}

.button {
  @extend %font-medium;
  margin: 1vw auto;
  border: none;
  font-size: 3.7vw;
  color: white;
  padding: 2vw 2.5vw;
  border-radius: $button-border-radius;
  display: flex;
}

.linkElement {
  @extend %font-medium;
  text-decoration: none;
  width: 100%;
}

.total {
  width: 100%;
  height: max-content;
  border-top: 2px solid #585858;
  margin-top: 6vw;

  > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin: 3vw 4vw 4vw 4vw;

    > div {
      @extend %font-medium;
      color: white;
      letter-spacing: 0.2vw;
      font-size: 4.5vw;
    }

    > div:nth-child(1) {
      margin: 0 0;
    }

    > div:nth-child(2) {
      margin: 0 0 0 auto;
    }

    > div:nth-child(3) {
      color: #757373;
      text-decoration: line-through;
      font-size: 3.5vw;
      margin: 1vw 0 0 1vw;
    }
  }

  > div:nth-child(2) {
    display: flex;
    margin: 3vw 3vw;
    width: 94vw;
    letter-spacing: 0.2vw;
    @extend %font-medium;
    font-size: 3.8vw;
    font-weight: 900;
    border-radius: $button-border-radius;
    color: white;
    padding: 3vw;
    background: #50A355;
    >div {
      margin: 0 auto;
      display: flex;
      width: max-content;
    }
  }

  > div:nth-child(3) {
    @extend %font-medium;
    font-size: 2.5vw;
    text-align: center;
    color: white;
    margin-bottom: 3vw;

    > a {
      text-decoration: none;
      margin: 0 0.6vw;
      color: #4F8AE7;
    }
  }
}

.emptyBasket {
  width: 100%;

  div:nth-child(1) {
    display: flex;
    width: 30vw;
    height: 30vw;
    background-size: cover;
    margin: 30vh auto 3vw auto;
    @extend %saidDuck;
  }

  > div:nth-child(2) {
    margin-top: 0.3%;
    @extend %font-medium;
    color: white;
    text-align: center;
    user-select: none;
  }

  > div:nth-child(3) {
    @extend %font-medium;
    width: max-content;
    border: none;
    border-radius: $button-border-radius;
    color: white;
    background: #5a5a5a;
  }
}

.secretDuck{
  display: flex;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  margin: 25vh auto 3vw auto;
  @extend %secretDuck;
}


.usernameInput {
  background: #454545;
  padding: 2.5vw 3vw;
  display: flex;
  flex-direction: column;
  border-radius: 4vw;
  margin: 0 8vw 1vw 8vw;

  > input {
    @extend %font-medium;
    background: white;
    text-align: center;
    border: none;
    outline: none;
    padding: 2vw 3vw;
    width: 100%;
    border-radius: $button-border-radius;
  }
}