@import "src/components/styles/mainStyle";
@import "src/components/UI/pages/Basket/gif/SaidDuck";

.mainContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.title {
  @extend %font;
  margin: 4vw auto;
  font-size: 5vw;
  color: white;
}

.total {
  width: 100%;
  height: max-content;
  border-top: 2px solid #585858;
  margin-top: 6vw;

  > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin: 3vw 4vw 4vw 4vw;

    > div {
      @extend %font;
      color: white;
      letter-spacing: 0.2vw;
      font-size: 4.5vw;
    }

    > div:nth-child(1) {
      margin: 0 0;
    }

    > div:nth-child(2) {
      margin: 0 0 0 auto;
    }

    > div:nth-child(3) {
      color: #757373;
      text-decoration: line-through;
      font-size: 3.5vw;
      margin: 1vw 0 0 1vw;
    }
  }

  > div:nth-child(2) {
    display: flex;
    margin: 3vw auto;
    width: max-content;
    letter-spacing: 0.2vw;
    @extend %font;
    font-size: 3.5vw;
    border-radius: 10vw;
    color: white;
    padding: 2vw 2.5vw;
    background: #77A246;
  }

  > div:nth-child(3) {
    @extend %font;
    font-size: 2.5vw;
    text-align: center;
    color: white;
    margin-bottom: 3vw;

    > a {
      text-decoration: none;
      margin: 0 0.6vw;
      color: #4F8AE7;
    }
  }
}

.emptyBasket {
  width: 100%;

  div:nth-child(1) {
    display: flex;
    width: 30vw;
    height: 30vw;
    background-size: cover;
    margin: 30vh auto 3vw auto;
    @extend %saidDuck;
  }
  > div:nth-child(2) {
     margin-top: 0.3%;
     @extend %font;
     color: white;
     text-align: center;
   }

  > div:nth-child(3)  {
    width: max-content;
    display: flex;
    margin: 1.8% auto 0 auto;
    border-radius: 100vh;
    padding: 1% 2.8%;
    @extend %font;
    font-size: 4vw;
    border: none;
    color: white;
    background: #5a5a5a;
  }
}