@import "src/components/styles/mainStyle";
@import "src/components/UI/pages/Search/icons/gif";

.mainDivision {
  height: 100%;
  display: grid;
  grid-template-rows:20vw 1fr;
  z-index: 100;

  > div:nth-child(1) {
    width: 100%;
    height: 100%;
    padding: 7vw 5vw 0 5vw;
    z-index: 150;

    > div {
      width: 100%;
      height: 100%;
      background: #595959;
      border-radius: 3.5vw;
      display: grid;
      grid-template-columns:9vw 1fr 18vw;

      > div {
        background-image: url("./icons/search.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 5.5vw;
        width: 5.5vw;
        margin: auto 0 auto auto;
      }

      > input {
        @extend %font-medium;
        font-size: 3.5vw;
        height: 7vw;
        margin: auto 0;
        background: none;
        border: none;
        margin-left: 1vw;
        font-weight: bold;
        outline: none;
        caret-color: #AFAFAF;
        color: white;
      }

      > input::placeholder {
        color: #AFAFAF;
      }

      > button {
        margin: 3vw;
        background: #636363;
        border: none;
        border-radius: 5px;

        > div {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAABN2lDQ1BBZG9iZSBSR0IgKDE5OTgpAAAokZWPv0rDUBSHvxtFxaFWCOLgcCdRUGzVwYxJW4ogWKtDkq1JQ5ViEm6uf/oQjm4dXNx9AidHwUHxCXwDxamDQ4QMBYvf9J3fORzOAaNi152GUYbzWKt205Gu58vZF2aYAoBOmKV2q3UAECdxxBjf7wiA10277jTG+38yH6ZKAyNguxtlIYgK0L/SqQYxBMygn2oQD4CpTto1EE9AqZf7G1AKcv8ASsr1fBBfgNlzPR+MOcAMcl8BTB1da4Bakg7UWe9Uy6plWdLuJkEkjweZjs4zuR+HiUoT1dFRF8jvA2AxH2w3HblWtay99X/+PRHX82Vun0cIQCw9F1lBeKEuf1UYO5PrYsdwGQ7vYXpUZLs3cLcBC7dFtlqF8hY8Dn8AwMZP/fNTP8gAAAAJcEhZcwAADsQAAA7EAZUrDhsAAATuaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA5LjEtYzAwMSA3OS4xNDYyODk5LCAyMDIzLzA2LzI1LTIwOjAxOjU1ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjQuNyAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDI1LTAxLTA1VDA5OjU5OjMwKzAzOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyNS0wMS0wNVQxMDowMToyMSswMzowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyNS0wMS0wNVQxMDowMToyMSswMzowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTlkOTJmNjAtODhmMy1lNDQwLWJkM2MtNTBmZGZiNzE0MDk4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjk5ZDkyZjYwLTg4ZjMtZTQ0MC1iZDNjLTUwZmRmYjcxNDA5OCIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjk5ZDkyZjYwLTg4ZjMtZTQ0MC1iZDNjLTUwZmRmYjcxNDA5OCI+IDx4bXBNTTpIaXN0b3J5PiA8cmRmOlNlcT4gPHJkZjpsaSBzdEV2dDphY3Rpb249ImNyZWF0ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6OTlkOTJmNjAtODhmMy1lNDQwLWJkM2MtNTBmZGZiNzE0MDk4IiBzdEV2dDp3aGVuPSIyMDI1LTAxLTA1VDA5OjU5OjMwKzAzOjAwIiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgMjQuNyAoV2luZG93cykiLz4gPC9yZGY6U2VxPiA8L3htcE1NOkhpc3Rvcnk+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+lNRUhgAAIhlJREFUeJzt3W3MbGtd3/HfFoRAD02PAVNIQJQcn7XFUmMQBBsRDkh4SDS1pEk1JjakIYUXpIkHySma1DdI0rRJa2JD6ptqU7RPx1RCiKVoFQ2pxshTUVSUB4vxPKQ9BHZfzB72Pnvf9z1rZtZ/rXVd1+eTnBDCzOyVHeD3nWvNPfe169evBwAYy5etfQEAwPIEAAAMSAAAwIAEAAAMSAAAwIAEAAAMSAAAwIAev/Kf/7gkf+PGP8+58c9Tk9yd5ElJrif5v0k+l+SzST52458PJvlfSb6w+BUDwE3N7tgaAfCMJN+f5BVJviPJU058nQeTvD/Jf0ny75P86SxXBwBX62LHri30TYCPT/LaJK9P8sLMf+vhi0l+Ncm/TPIf4mQAgHl1t2PVAfCEJP8wyRuTPLvyD7rFx5O8Pcm/SvL5hf5MAPrU7Y5VBsD3JHlHkm+q+gMO+EiSH0vyCyv9+QC0resdqwiAu7Orlu+f+4VP9PNJfjTJX6x8HQC0YYgdmzsAXpjk55I8a84XncEfJnldkv+x9oUAsGnD7NicH2L4e0nene39pSXJVyV5T3bXCAAXGWrH5gqAN2ZXTE+Y6fUqPCHJv83uWgHgVsPt2BwB8PrsPq14bYbXqvZl2V3rj699IQBsxpvT3o6dHQHnfgbgB7Mrpha/UvitSf7p2hcBwKrenOSn1r6IE1xP8kNJ3nnqC5wTAM9P8t4kX37qC2zAW5L8xNoXAcAq7kvytrUv4gyPJnlxkl875cmnBsDdSX47y30pQiUnAQDjafWd/+3+KMlzk/z5sU889ej+Z9PH+CfJ/dlVIABjuC99jH+SPDPJz5zyxFMC4LVJXn3KH7Zhb4sPBgKM4M1p+9j/Iq9J8qpjn3TsLYAnJfm99PPu/3ZuBwD0q5dj/4t8Isk3Jnl46hOOPQF4U/od/8TtAIBe9XTsf5FnJXnDMU845gTgyUn+IMnTjrumJjkJAOhHz+/8b/XpJF+d5JEpDz7mBOBHMsb4J7uTAJ8JAGjfKOOfJF+Z5IenPviYE4DfzXq/EnEtTgIA2jXS+O/9fpJvmPLAqScAz8t44584CQBo1YjjnyRfn933Ahw0NQBed/q1NM8HAwHa0vsH/g6ZtNlTA+DeMy6kB74nAKANPf6c/7EmbfaUzwA8Pcknz76cPvhMAMB2jXrsf7vr2W33p6560JQTgO+a5XL64HYAwDaNfux/q2tJXnToQVMC4FvOv5auuB0AsC2O/e/0zYceMCUAvnaGC+mNnw4A2AbH/hc7uN1TAuCeGS6kR24HAKzLsf/lDm73lAB46gwX0iu3AwDW4dj/age3e0oA3DXDhfTM7QCAZTn2P+wphx4gAObhdgDAMhz7T3Nwu6cEwBdmuJARuB0AUMux/3QHt3tKADw0w4WMwu0AgBqO/Y/z4KEHTAmAgy/CY7gdADAvx/7HO/jmfUoA+Brg47kdADAPx/6n+eNDD5gSAB+e4UJG5HYAwHkc+5/u4HYLgFpuBwCcxrH/eT5y6AFTAuADM1zIyNwOADiOY//z/eahB0z5dcBPTvK5JE+Y44oG5lcJAxzm2P98jya5O8kjVz1oygnAI5lQEhzkdgDA1Rz7z+PXc2D8k2kBkCS/eNalsOd2AMDFHPvP511THjTlFkCSPCPJJ5I87pwr4kvcDgC4ybH/fL6Y5FlJ/uTQA6eeAHwyyXvOuSIew+0AgB3H/vN6dyaMfzI9AJLkHSddCpdxOwAYnWP/+b196gOn3gLY+60k33b05XAVtwOAETn2n98Hs9voScN+zAlAkvzksVfDQW4HAKNx7F/j/kwc/+T4E4AkeSDJy459Egc5CQBG4J1/jV9J8r3HPOGUALgnye8keeKxT+QgEQD0zPjXeDTJtyb50DFPOvYWQLL7fuG3nvA8DnM7AOiVY/869+XI8U9OOwFIkmtJfinJK095Mgc5CQB64p1/nQeSvCJH3PvfOzUAkuRpSX4jybNPfQGu9JYkP7H2RQCc6b74Ub8qH0/y7Uk+e8qTT7kFsPeZJC9J8qkzXoPL+Z4AoHV+zr/OZ5PcmxPHPzkvAJLko9ndBnjozNfhYj4TALTKPf86DyV5eU6473+rcwMg2f2mwJcmeXCG1+JOTgKA1njnX+fh7N54n/1beucIgCR5f3bfDSACatwfEQC0wQf+6jyc5PuSvHeOF5srABIRUE0EAFtn/OvMOv7JvAGQiIBqIgDYKuNfZ/bxT+YPgEQEVBMBwNYY/zol45/UBEAiAqqJAGArjH+dsvFP6gIgEQHVRACwNuNfp3T8k9oASERANREArMX41ykf/6Q+ABIRUE0EAEsz/nUWGf9kmQBIREA1EQAsxfjXWWz8k+UCIBEB1UQAUM3411l0/JNlAyARAdVEAFDF+NdZfPyT5QMgEQHVRAAwN+NfZ5XxT9YJgEQEVBMBwFyMf53Vxj9ZLwASEVBNBADnMv51Vh3/ZN0ASERANREAnMr411l9/JP1AyARAdVEAHAs419nE+OfbCMAEhFQTQQAUxn/OpsZ/2Q7AZCIgGoiADjE+NfZ1Pgn2wqARARUEwHAZYx/nc2Nf7K9AEhEQDURANzO+NfZ5Pgn2wyARARUEwHAnvGvs9nxT7YbAIkIqCYCAONfZ9Pjn2w7ABIRUE0EwLiMf53Nj3+y/QBIREA1EQDjMf51mhj/pI0ASERANREA4zD+dZoZ/6SdAEhEQDURAP0z/nWaGv+krQBIREA1EQD9Mv51mhv/pL0ASERANREA/TH+dZoc/6TNAEhEQDURAP0w/nWaHf+k3QBIREA1EQDtM/51mh7/pO0ASERANREA7TL+dZof/6T9AEhEQDURAO0x/nW6GP+kjwBIREA1EQDtMP51uhn/pJ8ASERANREA22f863Q1/klfAZCIgGoiALbL+NfpbvyT/gIgEQHVRABsj/Gv0+X4J30GQCICqokA2A7jX6fb8U/6DYBEBFQTAbA+41+n6/FP+g6ARARUEwGwHuNfp/vxT/oPgEQEVBMBsDzjX2eI8U/GCIBEBFQTAbAc419nmPFPxgmARARUEwFQz/jXGWr8k7ECIBEB1UQA1DH+dYYb/2S8AEhEQDURAPMz/nWGHP9kzABIREA1EQDzMf51hh3/ZNwASERANREA5zP+dYYe/2TsAEhEQDURAKcz/nWGH/9EACQioJoIgOMZ/zrG/wYBsCMCaokAmM741zH+txAAN4mAWiIADjP+dYz/bQTAY4mAWiIALmf86xj/CwiAO4mAWiIA7mT86xj/SwiAi4mAWiIAbjL+dYz/FQTA5URALREAxr+S8T9AAFxNBNQSAYzM+Ncx/hMIgMNEQC0RwIiMfx3jP5EAmEYE1BIBjMT41zH+RxAA04mAWiKAERj/Osb/SALgOCKglgigZ8a/jvE/gQA4ngioJQLokfGvY/xPJABOIwJqiQB6YvzrGP8zCIDTiYBaIoAeGP86xv9MAuA8IqCWCKBlxr+O8Z+BADifCKglAmiR8a9j/GciAOYhAmqJAFpi/OsY/xkJgPmIgFoigBYY/zrGf2YCYF4ioJYIYMuMfx3jX0AAzE8E1BIBbJHxr2P8iwiAGiKglghgS4x/HeNfSADUEQG1RABbYPzrGP9iAqCWCKglAliT8a9j/BcgAOqJgFoigDUY/zrGfyECYBkioJYIYEnGv47xX5AAWI4IqCUCWILxr2P8FyYAliUCaokAKhn/OsZ/BQJgeSKglgiggvGvY/xXIgDWIQJqiQDmZPzrGP8VCYD1iIBaIoA5GP86xn9lAmBdIqCWCOAcxr+O8d8AAbA+EVBLBHAK41/H+G+EANgGEVBLBHAM41/H+G+IANgOEVBLBDCF8a9j/DdGAGyLCKglAriK8a9j/DdIAGyPCKglAriI8a9j/DdKAGyTCKglAriV8a9j/DdMAGyXCKglAkiMfyXjv3ECYNtEQC0RMDbjX8f4N0AAbJ8IqCUCxmT86xj/RgiANoiAWiJgLMa/jvFviABohwioJQLGYPzrGP/GCIC2iIBaIqBvxr+O8W+QAGiPCKglAvpk/OsY/0YJgDaJgFoioC/Gv47xb5gAaJcIqCUC+mD86xj/xgmAtomAWiKgbca/jvHvgABonwioJQLaZPzrGP9OCIA+iIBaIqAtxr+O8e+IAOiHCKglAtpg/OsY/84IgL6IgFoiYNuMfx3j3yEB0B8RUEsEbJPxr2P8OyUA+iQCaomAbTH+dYx/xwRAv0RALRGwDca/jvHvnADomwioJQLWZfzrGP8BCID+iYBaImAdxr+O8R+EABiDCKglApZl/OsY/4EIgHGIgFoiYBnGv47xH4wAGIsIqCUCahn/OsZ/QAJgPCKglgioYfzrGP9BCYAxiYBaImBexr+O8R+YABiXCKglAuZh/OsY/8EJgLGJgFoi4DzGv47xRwAgAoqJgNMY/zrGnyQCgB0RUEsEHMf41zH+fIkAYE8E1BIB0xj/OsafxxAA3EoE1BIBVzP+dYw/dxAA3E4E1BIBFzP+dYw/FxIAXEQE1BIBj2X86xh/LiUAuIwIqCUCdox/HePPlQQAVxEBtUaPAONfx/hzkADgEBFQa9QIMP51jD+TCACmEAG1RosA41/H+DOZAGAqEVBrlAgw/nWMP0cRABxDBNTqPQKMfx3jz9EEAMcSAbV6jQDjX8f4cxIBwClEQK3eIsD41zH+nEwAcCoRUKuXCDD+dYw/ZxEAnEME1Go9Aox/HePP2QQA5xIBtVqNAONfx/gzCwHAHERArdYiwPjXMf7MRgAwFxFQq5UIMP51jD+zEgDMSQTU2noEGP86xp/ZCQDmJgJqbTUCjH8d408JAUAFEVBraxFg/OsYf8oIAKqIgFpbiQDjX8f4U0oAUEkE1Fo7Aox/HeNPOQFANRFQa60IMP51jD+LEAAsQQTUWjoCjH8d489iBABLEQG1looA41/H+LMoAcCSRECt6ggw/nWMP4sTACxNBNSqigDjX8f4swoBwBpEQK25I8D41zH+rEYAsBYRUGuuCDD+dYw/qxIArEkE1Do3Aox/HePP6gQAaxMBtU6NAONfx/izCQKALRABtY6NAONfx/izGQKArRABtaZGgPGvY/zZFAHAloiAWociwPjXMf5sjgBga0RArcsiwPjXMf5skgBgi0RArdsjwPjXMf5s1rXr16+vfQ1wmRckeSDJXWtfSKfecuNf37bqVfTroST3Jnnf2hcCFxEAbN3zk/xykqesfSFwBO/82Ty3ANg6twNojfGnCQKAFogAWmH8aYYAoBUigK0z/jRFANASEcBWGX+aIwBojQhga4w/TRIAtEgEsBXGn2YJAFolAlib8adpAoCWiQDWYvxpngCgdSKApRl/uiAA6IEIYCnGn24IAHohAqhm/OmKAKAnIoAqxp/uCAB6IwKYm/GnSwKAHokA5mL86ZYAoFcigHMZf7omAOiZCOBUxp/uCQB6JwI4lvFnCAKAEYgApjL+DEMAMAoRwCHGn6EIAEYiAriM8Wc4AoDRiABuZ/wZkgBgRCKAPePPsAQAoxIBGH+GJgAYmQgYl/FneAKA0YmA8Rh/iACARASMxPjDDQIAdkRA/4w/3EIAwE0ioF/GH24jAOCxREB/jD9cQADAnURAP4w/XEIAwMVEQPuMP1xBAMDlREC7jD8cIADgaiKgPcYfJhAAcJgIaIfxh4kEAEwjArbP+MMRBABMJwK2y/jDkQQAHEcEbI/xhxMIADieCNgO4w8nEgBwGhGwPuMPZxAAcDoRsB7jD2cSAHAeEbA84w8zEABwPhGwHOMPM7l2/fr1ta8BevGCJO9O8sS1L6RT/y/J9yR539oXAj1wAgDzeX6Mf6UnJvk7a18E9EIAwDzenOSn1r6IAdyf5MfXvgjogQCA8xn/ZYkAmIEAgPMY/3WIADiTAIDTGf91iQA4gwCA0xj/bRABcCIBAMcz/tsiAuAEAgCOY/y3SQTAkQQATGf8t00EwBEEAExj/NsgAmAiAQCHGf+2iACYQADA1Yx/m0QAHCAA4HLGv20iAK4gAOBixr8PIgAuIQDgTsa/LyIALiAA4LGMf59EANxGAMBNxr9vIgBuIQBgx/iPQQTADQIAjP9oRABEAIDxH5MIYHgCgJEZ/7GJAIYmABiV8ScRAQxMADAi48+tRABDEgCMxvhzERHAcAQAIzH+XEUEMBQBwCiMP1OIAIYhABiB8ecYIoAhCAB6Z/w5hQigewKAnhl/ziEC6JoAoFfGnzmIALolAOiR8WdOIoAuCQB6Y/ypIALojgCgJ8afSiKArggAemH8WYIIoBsCgB4Yf5YkAuiCAKB1xp81iACaJwBomfFnTSKApgkAWmX82QIRQLMEAC0y/myJCKBJAoDWGH+2SATQHAFAS4w/WyYCaIoAoBXGnxaIAJohAGiB8aclIoAmCAC27r4Y/yoP3fiH+d2f3X93YbMEAFv25iRvW/siOvVwklcmeWmSB1e+ll69LU4C2DABwFY59q/zcJLvS/LeJO9P8rKIgCpuB7BZAoAtMv51bh3/PRFQSwSwSQKArTH+dS4a/z0RUEsEsDkCgC0x/nWuGv89EVBLBLApAoCtMP51poz/ngioJQLYDAHAFhj/OseM/54IqCUC2AQBwNqMf51Txn9PBNQSAaxOALAm41/nnPHfEwG1RACrEgCsxfjXmWP890RALRHAagQAazD+deYc/z0RUEsEsAoBwNKMf52K8d8TAbVEAIsTACzJ+NepHP89EVBLBLAoAcBSjH+dJcZ/TwTUEgEsRgCwBONfZ8nx3xMBtUQAixAAVDP+ddYY/z0RUEsEUE4AUMn411lz/PdEQC0RQCkBQBXjX2cL478nAmqJAMoIACoY/zpbGv89EVBLBFBCADA3419ni+O/JwJqiQBmJwCYk/Gvs+Xx3xMBtUQAsxIAzMX412lh/PdEQC0RwGwEAHMw/nVaGv89EVBLBDALAcC5jH+dFsd/TwTUEgGcTQBwDuNfp+Xx3xMBtUQAZxEAnMr41+lh/PdEQC0RwMkEAKcw/nV6Gv89EVBLBHASAcCxjH+dHsd/TwTUEgEcTQBwDONfp+fx3xMBtUQARxEATGX864ww/nsioJYIYDIBwBTGv85I478nAmqJACYRABxi/OuMOP57IqCWCOAgAcBVjH+dkcd/TwTUEgFcSQBwGeNfx/jfJAJqiQAuJQC4iPGvY/zvJAJqiQAuJAC4nfGvY/wvJwJqiQDuIAC4lfGvY/wPEwG1RACPIQDYM/51jP90IqCWCOBLBACJ8a9k/I8nAmqJAJIIAIx/JeN/OhFQSwQgAAZn/OsY//OJgFoiYHACYFzGv47xn48IqCUCBiYAxmT86xj/+YmAWiJgUAJgPMa/jvGvIwJqiYABCYCxGP86xr+eCKglAgYjAMZh/OsY/+WIgFoiYCACYAzGv47xX54IqCUCBiEA+mf86xj/9YiAWiJgAAKgb8a/jvFfnwioJQI6JwD6ZfzrGP/tEAG1REDHBECfjH8d4789IqCWCOiUAOiP8a9j/LdLBNQSAR0SAH0x/nWM//aJgFoioDMCoB/Gv47xb4cIqCUCOiIA+mD86xj/9oiAWiKgEwKgfca/jvFvlwioJQI6IADaZvzrGP/2iYBaIqBxAqBdxr+O8e+HCKglAhomANpk/OsY//6IgFoioFECoD3Gv47x75cIqCUCGiQA2mL86xj//omAWiKgMQKgHca/jvEfhwioJQIaIgDaYPzrGP/xiIBaIqARAmD7jH8d4z8uEVBLBDRAAGyb8a9j/BEBtUTAxgmA7TL+dYw/eyKglgjYMAGwTca/jvHndiKglgjYKAGwPca/jvHnMiKglgjYIAGwLca/jvHnEBFQSwRsjADYDuNfx/gzlQioJQI2RABsg/GvY/w5lgioJQI2QgCsz/jXMf6cSgTUEgEbIADWZfzrGH/OJQJqiYCVCYD1GP86xp+5iIBaImBFAmAdxr+O8WduIqCWCFiJAFie8a9j/KkiAmqJgBUIgGUZ/zrGn2oioJYIWJgAWI7xr2P8WYoIqCUCFiQAlmH86xh/liYCaomAhQiAesa/jvFnLSKglghYgACoZfzrGH/WJgJqiYBiAqCO8a9j/NkKEVBLBBQSADWMfx3jz9aIgFoioIgAmJ/xr2P82SoRUEsEFBAA8zL+dYw/WycCaomAmQmA+Rj/OsafVoiAWiJgRgJgHsa/jvGnNSKglgiYiQA4n/GvY/xplQioJQJmIADOY/zrGH9aJwJqiYAzCYDTGf86xp9eiIBaIuAMAuA0xr+O8ac3IqCWCDiRADie8a9j/OmVCKglAk4gAI5j/OsYf3onAmqJgCMJgOmMfx3jzyhEQC0RcAQBMI3xr2P8GY0IqCUCJhIAhxn/OsafUYmAWiJgAgFwNeNfx/gzOhFQSwQcIAAuZ/zrGH/YEQG1RMAVBMDFjH8d4w+PJQJqiYBLCIA7Gf86xh8uJgJqiYALCIDHMv51jD9cTQTUEgG3EQA3Gf86xh+mEQG1RMAtBMCO8a9j/OE4IqCWCLhBABj/SsYfTiMCaomACADjX8f4w3lEQK3hI2DkADD+dYw/zEME1Bo6AkYNAONfx/jDvERArWEjYMQAMP51jD/UEAG1hoyA0QLA+Ncx/lBLBNQaLgJGCgDjX8f4wzJEQK2hImCUADD+dYw/LEsE1BomAkYIAONfx/jDOkRArSEioPcAMP51jD+sSwTU6j4Ceg4A41/H+MM2iIBaXUdArwFg/OsYf9gWEVCr2wjoMQCMfx3jD9skAmp1GQG9BYDxr2P8YdtEQK3uIqCnADD+dYw/tEEE1OoqAnoJAONfx/hDW0RArW4ioIcAMP51jD+0SQTU6iICWg8A41/H+EPbRECt5iOg5QAw/nWMP/RBBNRqOgJaDQDjX8f4Q19EQK1mI6DFADD+dYw/9EkE1GoyAloLAONfx/hD30RAreYioKUAMP51jD+MQQTUaioCWgkA41/H+MNYRECtZiKghQAw/nWMP4xJBNRqIgK2HgDGv47xh7GJgFqbj4AtB4Dxr2P8gUQEVNt0BGw1AIx/HeMP3EoE1NpsBGwxAIx/HeMPXEQE1NpkBGwtAIx/HeMPXEUE1NpcBGwpAIx/HeMPTCECam0qArYSAMa/jvEHjiECam0mArYQAMa/jvEHTiECam0iAtYOAONfx/gD5xABtVaPgDUDwPjXMf7AHERArVUjYK0AMP51jD8wJxFQa7UIWCMAjH8d4w9UEAG1VomApQPA+Ncx/kAlEVBr8QhYMgCMfx3jDyxBBNRaNAKWCgDjX8f4A0sSAbUWi4AlAsD41zH+wBpEQK1FIqA6AIx/HeMPrEkE1CqPgMoAMP51jD+wBSKgVmkEVAWA8a9j/IEtEQG1yiKgIgCMfx3jD2yRCKhVEgFzB4Dxr2P8gS0TAbVmj4A5A8D41zH+QAtEQK1ZI2CuALgvxr/KQ9n9D+q9K18HwBTvT/Ly7P6/i/ndn93mnu3a9evXz32N1yf5FzNcC3fyzh9o1fOT/HKSp6x9IZ16U5KfPucFzg2AH0zyc1n31wr3yvgDrRMBda4n+aEk7zz1Bc4JgOdnN05ffuoLcKmHktyb5H1rXwjAmV6Q5IEkd619IR16NMmLk/zaKU8+NQDuTvLbSZ59ypO5knf+QG+cBNT5oyTPTfLnxz7x1KP7n43xr+ADf0CPfDCwzjOT/MwpTzwlAF6b5NWn/GFc6eEkr4xjf6BP70vy0vgRwQqvSfKqY5907C2AJyX5vXj3PzfH/sAo3A6o8Ykk35jdnkxy7AnAm2L85+bYHxiJ2wE1npXkDcc84ZgTgCcn+YMkTzvumriCd/7AqJwEzO/TSb46ySNTHnzMCcCPxPjPyfgDI/O1wfP7yiQ/PPXBx5wA/G6SbzrliriD8QfYcRIwr99P8g1THjj1BOB5Mf5zMf4ANzkJmNfXZ/e9AAdNDYDXnX4t3MIH/gDu5IOB85q02VMD4N4zLoQdP+cPcDnfEzCfSZs95TMAT0/yybMvZ2yO/QGm8ZmA813Pbrs/ddWDppwAfNcslzMux/4A07kdcL5rSV506EFTAuBbzr+WYTn2Bzie2wHn++ZDD5gSAF87w4WMyLE/wOn8dMB5Dm73lAC4Z4YLGY1jf4DzuR1wuoPbPSUAnjrDhYzEsT/AfNwOOM3B7Z4SAHfNcCGjcOwPMD+3A4538KcopvwY4OeTPH6Wy+nbQ9n97KV3/gA1XpDkgXhjOsXnkzzhqgdMOQH4wjzX0jXH/gD13A6Y7uB2TwkAH764mmN/gOW4HTDNwb+fKQHgL/lyPu0PsDw/HXDYwb+bKQHga4Av5tgfYD1uB1ztjw89YEoAfHiGC+mNY3+A9bkdcLmD2y0AjufYH2A73A642EcOPWBKAHxghgvphWN/gO1xO+BOv3noAVO+B+DJST6XAz9POADH/gDb5lcJ7zya5O4kj1z1oCknAI9kQkl0zrE/wPa5HbDz6zkw/sm0AEiSXzzrUtrm2B+gHW4HJO+a8qAptwCS5BlJPpHkcedcUYMc+wO0adTbAV9M8qwkf3LogVNPAD6Z5D3nXFGDHPsDtGvU2wHvzoTxT6YHQJK846RLaZNjf4D2jXg74O1THzj1FsDebyX5tqMvpy2O/QH6MsrtgA9mt9GThv2YE4Ak+cljr6Yxjv0B+jPK7YD7M3H8k+NPAJLd72J+2bFPaoB3/gB96/kk4FeSfO8xTzglAO5J8jtJnnjsEzfM+AOMoccIeDTJtyb50DFPOvYWQLL7fuG3nvC8rXLsDzCOHm8H3Jcjxz857QQgSa4l+aXsPinfMu/8AcbUy0nAA0lekSPu/e+dGgBJ8rQkv5Hk2ae+wMoeSnJv/KgfwKhekN2A3rX2hZzo40m+PclnT3nyKbcA9j6T5CVJPnXGa6zFz/kD0PL3BHw2uzexJ41/cl4AJMlHsxvSlv7yHox7/gDs7D8T0NqOvTwn3Pe/1bkBkOx+U+B3ZuJXD67sz5K8ON75A3DT+5J8d5JPr30hE3wqu2s9+7f0nvMZgNt9TXYfqLhnrhec2YeyOy75+NoXAsAm3ZPdjn3N2hdyiY9ld4L90TlebI4TgL3/neRvJfnXM77mXH4hyXfE+ANwuY8keW6Sf7f2hVzgl5L87cw0/sm8AZDs7kv8aJK/nzM+mDCjzyR5XZIfSPIX614KAA34yyR/N8k/yu4D42t7OLtreXWSz835wnPeArjdX0vyT5L84yz/rYGfT/JvkvxYthEiALTnGUn+WXZvatfwn7Mb/z+sePHKANh7TpI3JvkHSf5K8Z/1cHbD/9PZ3ZIAgHO9KLs3lC9Z6M/7b9n98r1frfxDlgiAva/ILgJ+ILsvLrg20+teT/I/k/x8kncm+T8zvS4A3Op5Sd6Q5DWZ/8uDHkzyriT/PMkHZn7tCy0ZALf6quy+uvA7k7wwyTOPfP4nkvz37H5047/e+PcAsIQnJ3lVdl8l/91Jnn7i63wyu++k+U9J/mOSR+a4uKnWCoDbfUV2twqek+SvZ/eX+1dv/Gd/md1fyp9l9yMQH4t3+QBsx9cl+ZvZ/Rjh12W3Y3fl5m3vh7P7+vk/TfLh7H7a4IM584t8zrWVAAAAFjT3jwECAA0QAAAwIAEAAAMSAAAwIAEAAAMSAAAwIAEAAAP6/yp44C92C4CuAAAAAElFTkSuQmCC");
          background-size: cover;
          height: 3.5vw;
          width: 3.5vw;
          margin: auto;
          display: flex;
          opacity: 0.8;
        }
      }
    }
  }
}

.homeScreen {
  width: 90vw;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vw 5vw;
  display: flex;
  overflow: hidden;
  position: relative;
  max-height: 32.5vw;
  z-index: 150;

  > div {
    z-index: 150;
    width: max-content;
    padding: 1.3vw 2.3vw;
    background: #373737;
    @extend %font-medium;
    border-radius: 3.5vw;
    margin: 1.2vw 1.2vw 0 0;
    height: 6.7vw;
    color: white;
    font-size: 3.2vw;
    text-align: center;
    -webkit-animation: animClue 1.5s forwards ease-in-out;
    animation: animClue 1.5s forwards ease-in-out;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}


@keyframes animClue {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animClue {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scrollList {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  margin-top: 2%;
}

.helpPlace {
  margin-top: 6%;
  width: 100%;
  font-size: 4vw;

  > div:nth-child(1) {
    @extend %font-medium;
    color: white;
    text-align: center;
  }

  > div:nth-child(2) {
    margin-top: 0.3%;
    @extend %font-medium;
    color: white;
    text-align: center;
  }

  > button {
    width: max-content;
    display: flex;
    margin: 1.8% auto 0 auto;
    border-radius: $button-border-radius;
    padding: 1% 2.8%;
    @extend %font-medium;
    font-size: 4vw;
    border: none;
    color: white;
    background: #5a5a5a;
  }
}


.emptyList {
  margin-top: 6%;
  width: 100%;

  > div:nth-child(1) {

    width: 30vw;
    height: 30vw;
    @extend %gif1;
    background-size: cover;
    display: flex;
    margin: 15% auto 0 auto;
  }

  > div:nth-child(2) {
    @extend %font-medium;
    font-size: 5vw;
    color: white;
    text-align: center;
  }

  > div:nth-child(3) {
    margin-top: 2.4%;
    font-size: 3.5vw;
    @extend %font-medium;
    color: white;
    text-align: center;
    word-break: break-all;
  }

  > div:nth-child(4) {
    margin-top: 0.3%;
    font-size: 3.5vw;
    @extend %font-medium;
    color: white;
    text-align: center;
  }

  > div:nth-child(5) {
    margin-top: 0.3%;
    font-size: 3.5vw;
    @extend %font-medium;
    color: white;
    text-align: center;
  }

  > div:nth-child(6) {
    margin-top: 0.3%;
    font-size: 3.5vw;
    @extend %font-medium;
    color: white;
    text-align: center;
  }

  > button {
    width: max-content;
    display: flex;
    margin: 4% auto 0 auto;
    border-radius: $button-border-radius;
    padding: 2% 2.8%;
    @extend %font-medium;
    font-size: 3.5vw;
    border: none;
    color: white;
    background: #5a5a5a;
  }
}

.welcome {
  width: 30vw;
  height: 30vw;
  @extend %gif2;
  background-size: cover;
  display: flex;
  margin: 20vw auto 0 auto;
}

.wrapper {
  scale: 0.5;
  width: 200px;
  height: 60px;
  display: flex;
  margin: 30vh auto;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: -0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: -0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: -0.2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: -0.3s;
}


