@import "src/components/styles/mainStyle";

.mainDivision {
  width: 100vw;


  > div:nth-child(1) {

    height: 100%;
    width: 100%;
    overflow-y: scroll;

    > div:nth-child(1) {
      background: $bg-color;
      height: max-content;
      max-width: 100%;
      margin-top: 10px;
      overflow-x: auto;
      scroll-behavior: smooth;
    }


  }

  > div:nth-child(2) {

    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0;

    > div {
      position: absolute;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      bottom: 0;
      width: 100%;
      background: $menu-color;
      overflow: hidden;
      transition-property: height;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }
}