@import "src/components/styles/mainStyle";

.mainDivision {
  width: 100vw;
  overflow: hidden;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  animation: animOpacity 0.5s ease-in-out forwards;
  -webkit-animation: animOpacity 0.5s ease-in-out forwards;

  > div:nth-child(1) {

    height: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 150;

    > div:nth-child(1) {
      background: $bg-color;
      height: max-content;
      margin-top: 10px;
      overflow-x: auto;
      scroll-behavior: smooth;
    }
  }

  > div:nth-child(2) {
    position: absolute;
    width: 100vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    > div {
      position: absolute;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      bottom: 0;
      width: 100%;
      background: $menu-color;
      overflow: hidden;
      transition-property: height;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }

  }

  > div:nth-child(3) {
    position: absolute;
    width: 100vw;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0.3;
    -webkit-opacity: 0.3;
  }
  20%,
  80%,
  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}