.rating-wrapper {
    display: flex;
    align-items: center;
    color: #242424;
    font-family: 'SF PRO Display', sans-serif;
    font-size: 2.7vw;
    gap: 0.4vw;
}

.rating-value {
    font-weight: bold;
    margin-left: 2.5vw;
}

.stars-row {
    display: flex;
    gap: 2px;
}

.star-container {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2.8vw;
    left: -2vw;
    top: -0.25vw;
}

.star-empty {
    color: #3e3e3e;
}

.star-filled {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFD700;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.25s ease-out;
    width: 0;
}

.rating-count {
    color: #3e3e3e;
    margin: 0 2.5vw 0 11vw;
}
