.page-choice-block{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.page-choice-label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  width: 150px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
}

.page-choice-status{
  &-true{
    color: #fff;
    text-align: center;
  }
  &-false{
    color: #ed7373;
    text-align: center;
  }
}

.page-choice-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  width: 145px;
  text-align: right;
}

.page-choice-active *{
  color: #a7c6f8;
}

.page-choice-empty{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}